<div class="users-container">
  <div class="flex justify-content-between flex-wrap mb-3">
    <h3 class="admin-page-title">All Users</h3>
    <a routerLink="/admin/users/create">
      <button pButton class="p-button-primary">Add User</button>
    </a>
  </div>

  <div class="card">
    <p-table
      #dt1
      [value]="users"
      dataKey="id"
      [rows]="10"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 25, 50]"
      [loading]="loading"
      [paginator]="true"
      [globalFilterFields]="[
        'role',
        'firstName',
        'lastName',
        'totalOrders',
        'totalPayed',
        'subscriptionPlan',
        'balance',
        'email',
        'phones',
        'address'
      ]"
    >
      <ng-template pTemplate="caption">
        <div class="flex">
          <button
            pButton
            label="Clear"
            class="p-button-outlined"
            icon="pi pi-filter-slash"
            (click)="clear(dt1)"
          ></button>
          <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="applyFilterGlobal($event, dt1, 'contains')"
              placeholder="Search keyword"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="min-width: 8rem">
            <div class="flex align-items-center">
              Role
              <p-columnFilter
                type="text"
                field="role"
                display="menu"
              ></p-columnFilter>
            </div>
          </th>
          <th style="min-width: 10rem">
            <div class="flex align-items-center">
              First name
              <p-columnFilter
                type="text"
                field="firstName"
                display="menu"
              ></p-columnFilter>
            </div>
          </th>
          <th style="min-width: 10rem">
            <div class="flex align-items-center">
              Last name
              <p-columnFilter
                type="text"
                field="lastName"
                display="menu"
              ></p-columnFilter>
            </div>
          </th>
          <th style="min-width: 10rem">
            <div class="flex align-items-center">
              Total orders
              <p-columnFilter
                type="numeric"
                field="totalOrders"
                display="menu"
              ></p-columnFilter>
            </div>
          </th>
          <th style="min-width: 10rem">
            <div class="flex align-items-center">
              Total payed
              <p-columnFilter
                type="numeric"
                field="totalPayed"
                display="menu"
                currency="USD"
              ></p-columnFilter>
            </div>
          </th>
          <th style="min-width: 10rem">
            <div class="flex align-items-center">
              Subscription plan
              <p-columnFilter
                type="text"
                field="subscriptionPlan"
                display="menu"
              ></p-columnFilter>
            </div>
          </th>
          <th style="min-width: 10rem">
            <div class="flex align-items-center">
              Balance
              <p-columnFilter
                type="numeric"
                field="balance"
                display="menu"
                currency="USD"
              ></p-columnFilter>
            </div>
          </th>
          <th style="min-width: 15rem">
            <div class="flex align-items-center">
              Email
              <p-columnFilter
                type="text"
                field="email"
                display="menu"
              ></p-columnFilter>
            </div>
          </th>
          <th style="min-width: 10rem">
            <div class="flex align-items-center">
              Phones
              <p-columnFilter
                type="numeric"
                field="phones"
                display="menu"
              ></p-columnFilter>
            </div>
          </th>
          <th style="min-width: 10rem">
            <div class="flex align-items-center">
              Address
              <p-columnFilter
                type="text"
                field="address"
                display="menu"
              ></p-columnFilter>
            </div>
          </th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td>
            {{ user.role }}
          </td>
          <td>
            {{ user.firstName }}
          </td>
          <td>
            {{ user.lastName }}
          </td>
          <td>
            {{ user.totalOrders }}
          </td>
          <td>
            {{ user.totalPayed | currency : "USD" : "symbol" }}
          </td>
          <td>
            {{ user.subscriptionPlan }}
          </td>
          <td>
            {{ user.balance | currency : "USD" : "symbol" }}
          </td>
          <td>
            {{ user.email }}
          </td>
          <td>
            <span
              class="surface-600 text-white px-2 py-1 border-round m-1"
              *ngFor="let phone of user.phones"
              >{{ phone.value }}</span
            >
          </td>
          <td>
            <span class="surface-600 text-white px-2 py-1 border-round m-1" >{{ user.address }}</span>
          </td>
          <td class="flex">
            <button
              pButton
              pRipple
              pTooltip="Edit user"
              tooltipPosition="top"
              placeholder="Top"
              [showDelay]="700"
              routerLink="/admin/users/edit/{{ user.id }}"
              class="p-button-success p-2 rounded mr-2"
            >
              <i class="pi pi-fw pi-user-edit"></i>
            </button>

            <button
              pButton
              pRipple
              pTooltip="Delete user"
              tooltipPosition="top"
              placeholder="Top"
              [showDelay]="700"
              class="p-button-danger p-2 rounded"
              (click)="deleteUser(user.id)"
            >
              <i class="pi pi-fw pi-user-minus"></i>
            </button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">No users found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
