@import "/src/styles.scss";

.not-found{
    margin:100px 400px;
    font-size: 50px;
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
    color: $black-color;
}
@media (min-width: 768px) and (max-width: 991px) {
    .not-found {
        margin: 0;
        font-size: 40px;
    }
}
@media (max-width: 767px) {
    .not-found {
        margin: 0;
        font-size: 30px;
    }
}
