:host ::ng-deep .p-menubar {
    border-radius: 0;
    border: none;
    background-color: var(--header);
    color: black;
}

:host ::ng-deep .phone ,:host ::ng-deep .stick ,:host ::ng-deep .login {
    font-size: 16px;
    padding-right: 10px;
}
:host ::ng-deep .phoneNumber {
    font-size: 16px;
    color: var(--title-text-color);
}
:host ::ng-deep .register {
    font-size: 16px;
    margin-right: 55px;
    color: var(--link-text-color);
}
:host ::ng-deep .login{
    color: var(--link-text-color);

}
:host ::ng-deep .facebook {
    font-size: 16px;
    color: var(--facebook-color);
    margin-right: 10px
}
:host ::ng-deep .twitter {
    font-size: 16px;
    color: var(--twitter-color);
    margin-right: 10px
}
:host ::ng-deep .instagram {
    font-size: 16px;
    color: var(--instagram-color);
    margin-right: 10px
}
// @media (min-width: 768px) and (max-width: 991px) {

//     .instagram,.facebook,.twitter {

//         color: black !important;
//     }
// }
@media (max-width: 767px) {
    .instagram,.facebook,.twitter {
        display: none;
    }
}

