<p-menubar>
  <ng-template pTemplate="start">
    <i class="pi pi-phone phone"></i>
    <span class="phoneNumber">Call Now | 01022334488</span>
  </ng-template>

  <ng-template pTemplate="end" *ngIf="!isLoggedIn">
    <a routerLink="login" class="login">Login</a>
    <span class="stick"> | </span>
    <a href="" routerLink="register" class="register">Register</a>
    <i class="pi pi-facebook facebook"></i>
    <i class="pi pi-twitter twitter"></i>
    <i class="pi pi-instagram instagram"></i>
  </ng-template>

  <ng-template pTemplate="end" *ngIf="isLoggedIn">
    <a routerLink="logout" class="login">Logout</a>
    <span class="stick"> | </span>
    <a href="" routerLink="profile" class="register">Profile</a>
    <i class="pi pi-facebook facebook"></i>
    <i class="pi pi-twitter twitter"></i>
    <i class="pi pi-instagram instagram"></i>
  </ng-template>
</p-menubar>
