<div class="register-container">
  <h3 class="page-title mt-4">Reset New Password</h3>
  <form [formGroup]="newPasswordForm" class="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="multi">
        <div class="mb-3 w-50">
          <label for="email_input" class="form-label">Email</label>
          <input
            type="email"
            pInputText
            placeholder="Email"
            id="email_input"
            formControlName="email"
          />
          <div
            id="email_input_help"
            *ngIf="
              newPasswordForm.controls['email'].touched &&
              newPasswordForm.controls['email'].invalid
            "
            class="form-text"
          >
            <small *ngIf="newPasswordForm.controls['email'].errors?.['required']">
              This field is required
            </small>
            <small *ngIf="newPasswordForm.controls['email'].errors?.['pattern']">
              The email must be like (example@example.com)
            </small>
          </div>
        </div>
        <div class="mb-3 w-50">
          <label for="token_input" class="form-label">Verification Code</label>
          <input
            type="text"
            pInputText
            placeholder="token"
            id="token_input"
            formControlName="token"
          />
          <div
            id="token_input_help"
            *ngIf="
              newPasswordForm.controls['token'].touched &&
              newPasswordForm.controls['token'].invalid
            "
            class="form-text"
          >
            <small *ngIf="newPasswordForm.controls['token'].errors?.['required']">
              This field is required
            </small>
          </div>
        </div>
      </div>
      <div class="multi">
        <div class="mb-3 w-50">
          <label for="password_input" class="form-label">Password</label>
          <input
            type="password"
            pInputText
            placeholder="Password"
            id="password_input"
            formControlName="password"
          />
          <div
            id="password_input_help"
            *ngIf="
              newPasswordForm.controls['password'].touched &&
              newPasswordForm.controls['password'].invalid
            "
            class="form-text"
          >
            <small *ngIf="newPasswordForm.controls['password'].errors?.['required']">
              This field is required
            </small>
            <small *ngIf="newPasswordForm.controls['password'].errors?.['minlength']">
              This field must have a minimum length of 8 characters
            </small>
            <small *ngIf="newPasswordForm.controls['password'].errors?.['pattern']">
              This field must contain at least 1 uppercase character, 1 lowercase character, 1 number, and 1 special character
            </small>
          </div>
        </div>
        <div class="mb-3 w-50">
          <label for="confirmpassword_input" class="form-label">Confirm Password</label>
          <input
            type="password"
            placeholder=" Confirm Password"
            pInputText
            id="confirmpassword_input"
            formControlName="confirmpassword"
          />
          <div
            id="confirmpassword_input_help"
            *ngIf="
              newPasswordForm.controls['confirmpassword'].touched &&
              newPasswordForm.controls['confirmpassword'].invalid
            "
            class="form-text"
          >
            <small *ngIf="newPasswordForm.controls['confirmpassword'].errors?.['required']">
              This field is required
            </small>
            <small *ngIf="newPasswordForm.controls['confirmpassword'].errors?.['minlength']">
              This field must havea minimum length of 8 characters
            </small>
            <small *ngIf="newPasswordForm.controls['confirmpassword'].errors?.['pattern']">
              This field must contain at least 1 uppercase character, 1 lowercase character, 1 number, and 1 special character
            </small>
            <small *ngIf="newPasswordForm.controls['confirmpassword'].errors?.['checkpass']">
              Password and Confirm Password do not match.
            </small>
          </div>
        </div>
      </div>
      <p-button
        class="btn button"
        label="Confirm"
        [disabled]="newPasswordForm.invalid"
        styleClass="p-button-warning"
        type="submit"
      >
      </p-button>
    </div>
  </form>
</div>