<div class="register-container">
  <h3 class="page-title mt-4">Reset New Password</h3>
  <form [formGroup]="newPasswordform" class="form">
    <div class="row">
      <div class="multi">
        <div class="mb-3 w-50">
          <label for="password_input" class="form-label">Password</label>
          <input
            type="password"
            pInputText
            id="password_input"
            formControlName="password"
          />
          <div
            id="password_input_help"
            *ngIf="
              newPasswordform.controls['password'].touched &&
              newPasswordform.controls['password'].invalid
            "
            class="form-text"
          >
            <small
              *ngIf="newPasswordform.controls['password'].errors?.['required']"
              >This field is required</small
            >
            <small
              *ngIf="newPasswordform.controls['password'].errors?.['minlength']"
              >This field is minlength 8</small
            >
            <small
              *ngIf="newPasswordform.controls['password'].errors?.['pattern']"
              >This field is must contain</small
            >
          </div>
        </div>
        <div class="mb-3 w-50">
          <label for="confirmpassword_input" class="form-label"
            >confirmPassword</label
          >
          <input
            type="password"
            pInputText
            id="confirmpassword_input"
            formControlName="confirmpassword"
          />
          <div
            id="confirmpassword_input_help"
            *ngIf="
              newPasswordform.controls['confirmpassword'].touched &&
              newPasswordform.controls['confirmpassword'].invalid
            "
            class="form-text"
          >
            <small
              *ngIf="newPasswordform.controls['confirmpassword'].errors?.['required']"
              >This field is required</small
            >
            <small
              *ngIf="newPasswordform.controls['confirmpassword'].errors?.['minlength']"
              >This field is minlength 8</small
            >
            <small
              *ngIf="newPasswordform.controls['confirmpassword'].errors?.['pattern']"
              >This field is must contain</small
            >
            <small
              *ngIf="newPasswordform.controls['confirmpassword'].errors?.['checkpass']"
            >
              Password and Confirm Password do not match.
            </small>
          </div>
        </div>
      </div>

      <p-button
        class="btn button"
        label="Confirm"
        [disabled]="newPasswordform.invalid"
        styleClass="p-button-warning"
        type="submit"
        routerLinkActive="active"
        routerLink="**"
      >
      </p-button>
    </div>
  </form>
</div>
