@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "/src/styles.scss";

 
* {
  box-sizing: border-box;
}

.cent {
  width: 100%;
  text-align: center;
  background-color: $Background-orange-color;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


}


.all{
  background-color: white;
  text-align: center;
  display: inline-block;
  width: 60%;
  height: 40%;
}
form {
  display: inline-block;
  position: relative;
  margin-top: 70px;
}




h1{
  color: $Button-orange-color;
}


input::placeholder{
    color: silver;
    padding-left: 10px;
  }

.text_danger{
    color: $Button-orange-color;
    margin-left: 15px;
    margin-top: 8px;
}  

.form-label {
  display: flex;
  margin-bottom: 5px;
}

.fileDiv{
  width: 70%;
}

.column {
  float: left;
  width: 50%;
 
}
.row{

  display: flex;
  gap: 9px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .lcolumn {
    width: 100%;
    margin-top: 15px;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .column,.row {
    width: 100%;
    display: block;
  }
  .fileDiv{
    width: 100%;
  }
}



/****/
.container {
  // height: 580px;
  width: 100%;
  background-color: #f6e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .container-form {
    background-color: white;
    width: fit-content;
    height: 90%;
    text-align: center;
    // padding-top: 25px;
    padding: 25px 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    @media (max-width: 400px) {
        & {
          width: 300px;
        }
      }
    }}
    p {
      font-size: 20px;
      padding: 10px 0 20px;
      font-weight: bold;
    }
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

      .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 15px;
      }

        label {
          align-self: flex-start;
          margin-bottom: 4px;
        }
        span {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          position: relative;
        }
          i {
            position: absolute;
            left: 5px;
            font-size: 18px;
            font-weight: bold;
          }
          input {
            padding: 10px 10px 10px 25px;
            font-size: 18px;
            width: 280px;
            @media (max-width: 400px) {
              & {
                width: 230px;
              }
            }
          }
        