<div class="cent">
  <div class="all">
    <div class="header">
      <h1>Job Application</h1>
    </div>

    <form [formGroup]="jobForm" (ngSubmit)="insertBranchData()">
      <label for="job_input" class="form-label">Job Title</label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-credit-card"></i>
        </span>

        <input
        [(ngModel)]="applicant.title"

          pInputText
          placeholder="Enter your job title"
          type="text"
          class="form-control"
          id="job_input"
          formControlName="job"
        />
        
      </div>
      <br />

      <div class="row">
        <div class="column">
          <label for="name_input" class="form-label">First Name</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
              <i class="pi pi-user"></i>
            </span>
            <input
            [(ngModel)]="applicant.first_name"

              pInputText
              placeholder="Enter your first name"
              type="text"
              class="form-control"
              id="name_input"
              aria-describedby="name_input_help"
              formControlName="first_name"
            />
          </div>
          
        </div>
        <br />
        <div class="column lcolumn">
          <label for="l_name_input" class="form-label">Last Name</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
              <i class="pi pi-user"></i>
            </span>
            <input
            [(ngModel)]="applicant.last_name"

              pInputText
              placeholder="Enter your Last name"
              type="text"
              class="form-control"
              id="l_name_input"
              aria-describedby="l_name_input_help"
              formControlName="last_name"
            />
          </div>
         
        </div>
      </div>

      <br />

      <label for="email_input" class="form-label">Email</label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-envelope"></i>
        </span>
        <input
        [(ngModel)]="applicant.email"

          pInputText
          placeholder="Enter your email"
          type="email"
          class="form-control"
          id="email_input"
          formControlName="email"
        />
        
      </div>
      <br />
      <label for="mobile_input" class="form-label">Mobile</label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-phone"></i>
        </span>

        <input
        [(ngModel)]="applicant.mobile"

          pInputText
          placeholder="Enter your phone number"
          type="number"
          class="form-control"
          id="mobile_input"
          formControlName="mobile"
        />
       
      </div>
      <br />

      <label for="education_input" class="form-label">Education</label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-book"></i>
        </span>

        <input
        [(ngModel)]="applicant.education"

          pInputText
          placeholder="Enter your education"
          type="text"
          class="form-control"
          id="education_input"
          formControlName="education"
        />
        
      </div>
      <br />

      <label for="docpicker" class="form-label">CV File</label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-upload"></i>
        </span>
        <div class="fileDiv">
          <input
          [(ngModel)]="applicant.cv"

            type="file"
            id="docpicker"
            class="form-control"
            accept=".doc,.docx,.pdf"
            formControlName="cv"
            required
          />
        </div>
        <label style="margin-left: 20px; color: #fd702a">required</label>
      </div>
      <br />
      <br />

      <p-button
        label="Apply"
        styleClass="p-button-warning"
        type="submit"
        [disabled]="jobForm.invalid"
      ></p-button>
    </form>
  </div>
</div>
