:host ::ng-deep .p-menubar {
    border-radius: 0;
    border: none;
    background-color: var(--header-footer-color);
    padding: 10px 20px;
}
// :host ::ng-deep .link1 ,
// :host ::ng-deep .link2 ,
// :host ::ng-deep .link3 ,
// :host ::ng-deep .link4 ,
// :host ::ng-deep .link5
// {
//     font-size: 20px;
//     color: #fff !important;
// }

:host ::ng-deep .links {
    font-size: 20px;

    &::before{
      content: '';
      background-color: rgb(184, 167, 167);
      border-radius: 6px 0px 0px 6px;
      height: 0%;
      width: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      transition: 0.3s;
  }
  &:hover {

      &::before{
          height: 50%;
      }

      .p-menuitem-icon,
      .p-menuitem-text {
          color: black !important;
      }
  }
  
    .p-menuitem-icon,
    .p-menuitem-text {
      color: #fff !important;
    }
    &:hover {
      .p-menuitem-icon,
      .p-menuitem-text {
        color: black !important;
      }
    }
    /*your style goes here*/
    // for tablet size
    @media (min-width: 768px) and (max-width: 991px) {

        .p-menuitem-text,
        .p-menuitem-icon {

            color: black !important;

        }
    }
    // for mobile size
    @media (max-width: 767px) {

        .p-menuitem-text,
        .p-menuitem-icon {

            color: black !important;

        }
    }

  }


:host ::ng-deep .send {
    font-size: 45px;
    color: rgb(30, 177, 221);
    margin-right: 170px;
}
.Copy_Rights  {
    color: var(--disabled-text-color);
    background-color: var(--header);
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}