<div class="first-container">
    <div class=" "  leaveClass="fadeoutleft" >
        <p-galleria  [shouldStopAutoplayByClick]="false" [autoPlay]="true" [transitionInterval]="4000" [value]="image" class="second-container" [numVisible]="5" [circular]="true" [showItemNavigators]="true" [showThumbnails]="false" [responsiveOptions]="responsiveOptions">
            <ng-template pTemplate="item" let-item class="image-container" >
                 <div class="overlay">      
                    <h1> {{item.title1}}</h1>
                    <h3> {{item.title2}}</h3>
                    <p>{{item.title2}}</p>

                    <p-button  class="btn button" routerLinkActive="active" routerLink="**"> <span>Get Offer</span></p-button>
                </div>
                <img [src]="item.itemImageSrc"  class="banner-image"/>
               
            </ng-template>
            
        </p-galleria>
    </div>
    <!-- <div class="card md:flex md:justify-content-center">
        <p-galleria [value]="images" class="second-container" [showItemNavigators]="true" [showThumbnails]="false" [showIndicators]="true" [showIndicatorsOnItem]="true" [responsiveOptions]="responsiveOptions"> 
            <ng-template pTemplate="item" let-item>
                <img [src]="item.itemImageSrc" style="width: 100%;" class="banner-image" />
            </ng-template>
            <ng-template pTemplate="thumbnail" let-item>
                <div class="grid grid-nogutter justify-content-center">
                    <img [src]="item.thumbnailImageSrc" />
                </div>
            </ng-template>
        </p-galleria>
    </div> -->
</div>
