<div class="container forget-password-container">
  <div class="loader" *ngIf="loading">
      <p-progressSpinner gressSpinner styleClass="w-4rem h-4rem" strokeWidth="4" animationDuration="1s"></p-progressSpinner>
  </div>

  <div class="container-form border-round-lg">
    <p><span class="word-color">Forget Password</span></p>
    <span
      class="pi pi-user"
      style="font-size: 44px; margin-bottom: 40px"
    ></span>

    <form         [formGroup]="formGroup"
    class="flex align-items-center gap-1" (ngSubmit)="onSubmit()">
      <div class="box">
        <label htmlFor="email">Email</label>
        <span class="">
          <i class="pi pi-user"></i>
          <input
            type="text"
            pInputText
            placeholder="Email.."
            formControlName="email"
          />
        </span>
      </div>

      <!-- <p-button
        label="Login"
        styleClass=" px-4 py-2 mt-4"
      ></p-button>  -->
      <div
        class="errors"
        [hidden]="formGroup.get('email')?.untouched"
        class="text-red-400"
      >
        <small *ngIf="formGroup.get('email')?.errors?.['required']"
          >email required</small
        >
        <small *ngIf="formGroup.get('email')?.errors?.['pattern']"
          >Sorry, your email was incorrect. Please double-check your
          email.</small
        >
      </div>

      <p-button
        label="Reset"
        styleClass="p-button-warning"
        type="submit"
      ></p-button>
    </form>
  </div>
</div>
