<div class="container">
    <div class="container-form border-round-lg">
      <p><span class="word-color">Forget Password</span></p>
      <span
        class="pi pi-user"
        style="font-size: 44px; margin-bottom: 40px"
      ></span>
  
      <form
        class="flex align-items-center gap-1"
       
      >
        <div class="box">
          <label htmlFor="username">Email</label>
          <span class="">
            <i class="pi pi-user"></i>
            <input
              type="text"
              pInputText
              placeholder="Email.."
              formControlName="emailControl"
            />
          </span>
        </div>
  
        <!-- <p-button
        label="Login"
        styleClass=" px-4 py-2 mt-4"
      ></p-button>  -->
        <div
          class="errors"
          [hidden]="formGroup.get('emailControl')?.untouched"
          class="text-red-400"
        >
          <small *ngIf="formGroup.get('emailControl')?.errors?.['required']"
            >email required</small
          >
          <small *ngIf="formGroup.get('emailControl')?.errors?.['pattern']"
            >Sorry, your email was incorrect. Please double-check your
            email.</small>
        </div> 
     
       
      </form>
    </div>
  </div>
  