<div class="container">
  <div class="subscription">
    <h1>Subscription Details</h1>
    <table>
      <tr>
        <td>Subscription Type</td>
        <td>Super</td>
      </tr>
      <tr>
        <td>Subscription price</td>
        <td>1500 EGP</td>
      </tr>
      <tr>
        <td>Subscription Date</td>
        <td>20-9-2023</td>
      </tr>
      <tr>
        <td>Subscription End Date</td>
        <td>20-9-2024</td>
      </tr>
      <tr>
        <td>Paid Up</td>
        <td>980 EGP</td>
      </tr>
      <tr>
        <td>Remaining</td>
        <td>520 EGP</td>
      </tr>
    </table>
  </div>
  <div class="subscriptions-btns flex justify-content-center">
    <a
    class="no-underline transition-colors transition-duration-500 border-round-3xl bg-orange-300 hover:bg-purple-400 text-white hover:text-gray-900 flex align-items-center justify-content-center font-bold border-white cursor-pointer m-2 px-5 py-3"
  >
    Change Subscription </a
  >    <a
  class="no-underline transition-colors transition-duration-500 border-round-3xl bg-orange-300 hover:bg-purple-400 text-white hover:text-gray-900 flex align-items-center justify-content-center font-bold border-white cursor-pointer m-2 px-5 py-3"
>
  Renew Subscription </a
>
  </div>
</div>

