<div class="container">
  <div class="subscription">
    <h1>Subscription Details</h1>
    <table>
      <tr>
        <td>Subscription Name</td>
        <td>{{ subscribeObject.name }}</td>
      </tr>
      <tr>
        <td>Subscription price</td>
        <td>{{ subscribeObject.subscribe_value }} EGP</td>
      </tr>
      <tr>
        <td>Subscription benefit</td>
        <td>{{ subscribeObject.benefit }}</td>
      </tr>
      <tr>
        <td>Discount Value</td>
        <td>{{ subscribeObject.discount_value }} %</td>
      </tr>
      <tr>
        <td>Subscription Date</td>
        <td>{{ currentDate | date : "dd/MM/YYYY" }}</td>
      </tr>
      <tr>
        <td>Subscription End Date</td>
        <td>{{ endDate | date : "dd/MM/YYYY" }}</td>
      </tr>
      <tr>
        <td>Paid Up</td>
        <td>{{ total }} EGP</td>
      </tr>
      <tr>
        <td>Remaining</td>
        <td>{{ subscribeObject.subscribe_value - total }} EGP</td>
      </tr>
    </table>
  </div>
</div>

<div class="subscriptions-btns flex justify-content-center">
  <a
    class="no-underline transition-colors transition-duration-500 border-round-3xl bg-orange-300 hover:bg-purple-400 text-white hover:text-gray-900 flex align-items-center justify-content-center font-bold border-white cursor-pointer m-2 px-5 py-3"
  >
    Change Subscription
  </a>
  <a
    class="no-underline transition-colors transition-duration-500 border-round-3xl bg-orange-300 hover:bg-purple-400 text-white hover:text-gray-900 flex align-items-center justify-content-center font-bold border-white cursor-pointer m-2 px-5 py-3"
  >
    Renew Subscription
  </a>
</div>
