<div class="users-container">
  <div class="flex justify-content-between flex-wrap mb-3">
    <h3 class="admin-page-title">All Subscribes</h3>
    <a routerLink="/admin/subscription-plans/create">
      <button
        pButton
        class="p-button-primary"
      >Add Subscribe</button>
    </a>
  </div>

  <div class="card">
    <p-table
      #dt1
      [value]="subscribes"
      dataKey="id"
      [rows]="10"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 25, 50]"
      [loading]="loading"
      [paginator]="true"
      [globalFilterFields]="[
        'name',        
        'benefits',
        'discount_value',
        'duration',
        'subscribe_value',
        'status',
      ]"
    >
      <ng-template pTemplate="caption">
        <div class="flex">
          <button
            pButton
            label="Clear"
            class="p-button-outlined"
            icon="pi pi-filter-slash"
            (click)="clear(dt1)"
          ></button>
          <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="applyFilterGlobal($event, dt1, 'contains')"
              placeholder="Search keyword"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="min-width: 10rem">
            <div class="flex align-items-center">
              Subscribe Name
              <p-columnFilter
                type="text"
                field="Subscribe"
                display="menu"
              ></p-columnFilter>
            </div>
          </th>
          <th style="min-width: 10rem">
              <div class="flex align-items-center">
                Benefits
                <p-columnFilter
                  type="text"
                  field="status"
                  display="menu"
                ></p-columnFilter>
              </div>
            </th>
            <th style="min-width: 10rem">
              <div class="flex align-items-center">
                Discount
                <p-columnFilter
                  type="text"
                  field="status"
                  display="menu"
                ></p-columnFilter>
              </div>
            </th>
            <th style="min-width: 10rem">
              <div class="flex align-items-center">
                Duration (Months)
                <p-columnFilter
                  type="text"
                  field="Subscribe"
                  display="menu"
                ></p-columnFilter>
              </div>
            </th>
            <th style="min-width: 10rem">
              <div class="flex align-items-center">
                Costs
                <p-columnFilter
                  type="text"
                  field="Subscribe"
                  display="menu"
                ></p-columnFilter>
              </div>
            </th>
            <th style="min-width: 10rem">
              <div class="flex align-items-center">
                Status
                <p-columnFilter
                  type="text"
                  field="Subscribe"
                  display="menu"
                ></p-columnFilter>
              </div>
            </th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-Subscribe>
        <tr>
          <td>
            {{ Subscribe.name }}
          </td>
          <td>
              {{ Subscribe.benefits }}
            </td>
            <td>
              {{ Subscribe.discount_value }}
            </td>
            <td>
              {{ Subscribe.duration }} 
            </td>
            <td>
              {{ Subscribe.subscribe_value }} L.E
            </td>
            <td [ngStyle]="{'color': Subscribe.status | Active }">
              {{ Subscribe.status }}
            </td>
          <td class="flex">
            <button
              pButton
              pRipple
              pTooltip="Edit Subscribe"
              tooltipPosition="top"
              placeholder="Top"
              [showDelay]="700"
              routerLink= "/admin/subscription-plans/edit/{{Subscribe.id}}"
              class="p-button-success p-2 rounded mr-2"
            >
              <i class="pi pi-fw pi-user-edit"></i>
            </button>

            <button
              pButton
              pRipple
              pTooltip="Delete Subscribe"
              tooltipPosition="top"
              placeholder="Top"
              [showDelay]="700"
              class="p-button-danger p-2 rounded"
              (click)="deleteSubscribe(Subscribe.id)"
            >
              <i class="pi pi-fw pi-trash"></i>
            </button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">No Subscribes found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
