<p-menubar [model]="items">
    <ng-template pTemplate="start">
    <img src="assets/logo.png"  height="100px" width="200" alt="logo" />
    </ng-template>
    <ng-template pTemplate="end" >
     
        <div class="search-box">
            <button class="btn-search"><i class="pi pi-search"></i></button>
            <input type="text" class="input-search" placeholder="Type to Search...">
          </div>
    </ng-template>
</p-menubar>



<!-- <div class="container"> 
  
    <button class="btn btn1">Click Me</button> 
    <button class="btn btn2">Click Me</button> 
</div>  -->