<div class="add-user-container">
  <h3 class="admin-page-title">Add Subscribe</h3>

  <div class="card">
    <form
      [formGroup]="AddSubscribe"
      (ngSubmit)="onSubmit()"
      class="formgrid grid w-full mt-3 mx-auto form"
    >
      <div class="col-12 mb-4">
        <div class="flex flex-column-reverse">
          <input
            id="name"
            type="text"
            pInputText
            [required]="true"
            [minlength]="4"
            formControlName="name"
            class="input p-2 border-round outline-none w-full"
          />
          <label for="name" class="block mb-2">Name *</label>
        </div>

        <div
          class="error-message"
          *ngIf="
            AddSubscribe.controls['name'].touched &&
            AddSubscribe.controls['name'].invalid
          "
        >
          <small
            class="block"
            *ngIf="AddSubscribe.controls['name'].errors?.['required']"
          >
            Name is required
          </small>
          <small
            class="block"
            *ngIf="AddSubscribe.controls['name'].errors?.['minlength']"
          >
            Name is must be more than 3 characters
          </small>
          <small
            class="block"
            *ngIf="AddSubscribe.controls['name'].errors?.['pattern']"
          >
            Name must contains only letters
          </small>
        </div>
      </div>

      <div class="col-12 md:col-6 mb-4 pr-0 md:pr-3">
        <div class="flex flex-column-reverse">
          <p-inputNumber
            [useGrouping]="false"
            formControlName="discount_value"
            [format]="false"
            styleClass="w-full"
            class="mask-button form-field"
            [required]="true"
            [min]="1"
          >
          </p-inputNumber>
          <label for="discount_value" class="block mb-2"
            >Discount Value *</label
          >
        </div>

        <div
          class="error-message"
          *ngIf="
            AddSubscribe.controls['discount_value'].touched &&
            AddSubscribe.controls['discount_value'].hasError('required')
          "
        >
          <small class="block">Discount Value is required</small>
        </div>
        <div
          class="error-message"
          *ngIf="
            AddSubscribe.controls['discount_value'].touched &&
            AddSubscribe.controls['discount_value'].hasError('pattern')
          "
        >
          <small class="block">It must be a valid Discount Value number</small>
        </div>
      </div>

      <div class="col-12 md:col-6 mb-4">
        <div class="flex flex-column-reverse">
          <p-inputNumber
            [useGrouping]="false"
            formControlName="duration"
            [format]="false"
            styleClass="w-full"
            class="mask-button form-field"
            [required]="true"
            [min]="1"
          >
          </p-inputNumber>
          <label for="duration" class="block mb-2">Duration *</label>
        </div>

        <div
          class="error-message"
          *ngIf="
            AddSubscribe.controls['duration'].touched &&
            AddSubscribe.controls['duration'].hasError('required')
          "
        >
          <small class="block">Duration is required</small>
        </div>
        <div
          class="error-message"
          *ngIf="
            AddSubscribe.controls['duration'].touched &&
            AddSubscribe.controls['duration'].hasError('pattern')
          "
        >
          <small class="block">It must be a valid Duration number</small>
        </div>
      </div>

      <div class="col-12 md:col-9 mb-4">
        <div class="flex flex-column-reverse">
          <p-inputNumber
            [useGrouping]="false"
            formControlName="subscribe_value"
            [format]="false"
            styleClass="w-full"
            class="mask-button form-field"
            [required]="true"
            [min]="1"
          >
          </p-inputNumber>
          <label for="subscribe_value" class="block mb-2"
            >Subscribe Value *</label
          >
        </div>

        <div
          class="error-message"
          *ngIf="
            AddSubscribe.controls['subscribe_value'].touched &&
            AddSubscribe.controls['subscribe_value'].hasError('required')
          "
        >
          <small class="block">Subscribe Value is required</small>
        </div>
        <div
          class="error-message"
          *ngIf="
            AddSubscribe.controls['subscribe_value'].touched &&
            AddSubscribe.controls['subscribe_value'].hasError('pattern')
          "
        >
          <small class="block">It must be a valid Subscribe Value number</small>
        </div>
      </div>

      <div class="col-12 md:col-3 mb-4">
        <label for="toogle" class="block mb-2">Status *</label>
        <p-toggleButton
          id="toggle"
          formControlName="active"
          onLabel="Active"
          offLabel="In Active"
        ></p-toggleButton>
      </div>

      <div class="col-12 mb-4">
        <div class="flex flex-column-reverse">
          <p-editor formControlName="benefit" id="benefit" [required]="true" [style]="{ height: '250px' }">
            <ng-template pTemplate="header">
              <span class="ql-formats">
                <button type="button" class="ql-bold" aria-label="Bold"></button>
                <button
                  type="button"
                  class="ql-italic"
                  aria-label="Italic"
                ></button>
                <button
                  type="button"
                  class="ql-underline"
                  aria-label="Underline"
                ></button>
                <button class="ql-list" value="ordered"></button>
                <button class="ql-list" value="bullet"></button>
                <button
                  type="button"
                  class="ql-blockquote"
                  aria-label="blockquote"
                ></button>
  
                <select
                  title="Text Color"
                  class="ql-color"
                  defaultValue="black"
                >
                  <option
                    *ngFor="let color of editorColors"
                    [value]="color"
                    [label]="color"
                  ></option>
                </select>
                <span class="ql-format-separator"></span>
                <select
                  title="Background Color"
                  class="ql-background"
                  defaultValue="black"
                >
                  <option
                    *ngFor="let color of editorColors"
                    [value]="color"
                    [label]="color"
                  ></option>
                </select>
              </span>
            </ng-template>
          </p-editor>
          <label for="benefit" class="block mb-2">Benefits *</label>
        </div>

        <div
          class="error-message"
          *ngIf="
            AddSubscribe.controls['benefit'].touched &&
            AddSubscribe.controls['benefit'].hasError('required')
          "
        >
          <small class="block">Benefits is required</small>
        </div>
      </div>

      <button
        type="submit"
        class="primary-button w-5 mx-auto my-3"
        [disabled]="AddSubscribe.invalid"
      >
        Add
      </button>
    </form>
  </div>
</div>
