<div class="cent">
  <div class="all">
    <div class="header">
      <h1>Job Application</h1>
    </div>

    <form [formGroup]="jobForm" (ngSubmit)="submitJobForm()">
      <label for="job_input" class="form-label">Job Title</label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-credit-card"></i>
        </span>

        <input
          pInputText
          placeholder="Enter your job title"
          type="text"
          class="form-control"
          id="job_input"
          formControlName="job"
        />
        <div
          id="job_input_help"
          *ngIf="job!.invalid && (job!.touched || job!.dirty)"
          class="text_danger"
        >
          <small *ngIf="job!.errors?.['required']"
            >This field is required</small
          >
        </div>
      </div>
      <br />

      <div class="form-row">
        <div>
          <label for="name_input" class="form-label">First Name</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
              <i class="pi pi-user"></i>
            </span>
            <input
              pInputText
              placeholder="Enter your first name"
              type="text"
              class="form-control"
              id="name_input"
              aria-describedby="name_input_help"
              formControlName="name"
            />
          </div>
          <div
            id="name_input_help"
            *ngIf="name!.invalid && (name!.touched || name!.dirty)"
            class="text_danger block"
          >
            <small
              class="block"
              *ngIf="jobForm!.controls['name'].errors?.['required']"
              >This field is required
            </small>
          </div>
        </div>
        <br />
        <div>
          <label for="l_name_input" class="form-label">Last Name</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
              <i class="pi pi-user"></i>
            </span>
            <input
              pInputText
              placeholder="Enter your Last name"
              type="text"
              class="form-control"
              id="l_name_input"
              aria-describedby="l_name_input_help"
              formControlName="l_name"
            />
          </div>
          <div
            id="l_name_input_help"
            *ngIf="l_name!.invalid && (l_name!.touched || l_name!.dirty)"
            class="text_danger"
          >
            <small
              class="block"
              *ngIf="jobForm!.controls['l_name'].errors?.['required']"
              >This field is required
            </small>
          </div>
        </div>
      </div>

      <br />

      <label for="email_input" class="form-label">Email</label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-envelope"></i>
        </span>
        <input
          pInputText
          placeholder="Enter your email"
          type="email"
          class="form-control"
          id="email_input"
          formControlName="email"
        />
        <div
          id="email_input_help"
          *ngIf="email!.invalid && (email!.touched || email!.dirty)"
          class="text_danger"
        >
          <small *ngIf="email!.errors?.['required']"
            >This field is required</small
          >
          <small *ngIf="email!.errors?.['pattern']"
            >please enter a valid email</small
          >
        </div>
      </div>
      <br />
      <label for="mobile_input" class="form-label">Mobile</label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-phone"></i>
        </span>

        <input
          pInputText
          placeholder="Enter your phone number"
          type="number"
          class="form-control"
          id="mobile_input"
          formControlName="mobile"
        />
        <div
          id="mobile_input_help"
          *ngIf="mobile!.invalid && (mobile!.touched || mobile!.dirty)"
          class="text_danger"
        >
          <small *ngIf="mobile!.errors?.['required']"
            >This field is required</small
          >
          <small *ngIf="mobile!.errors?.['pattern']"
            >please enter a valid phone number</small
          >
        </div>
      </div>
      <br />

      <label for="education_input" class="form-label">Education</label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-book"></i>
        </span>

        <input
          pInputText
          placeholder="Enter your education"
          type="text"
          class="form-control"
          id="education_input"
          formControlName="education"
        />
        <div
          id="education_input_help"
          *ngIf="education!.invalid && (education!.touched || education!.dirty)"
          class="text_danger"
        >
          <small *ngIf="education!.errors?.['required']"
            >This field is required</small
          >
        </div>
      </div>
      <br />

      <label for="docpicker" class="form-label">CV File</label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-upload"></i>
        </span>
        <div class="fileDiv">
          <input
            type="file"
            id="docpicker"
            class="form-control"
            accept=".doc,.docx,.pdf"
            formControlName="cv"
            required
          />
        </div>
        <label style="margin-left: 20px; color: #fd702a">required</label>
      </div>
      <br />
      <br />
      <p-button
        label="Apply"
        styleClass="p-button-warning"
        type="submit"
        [disabled]="jobForm.invalid"
      ></p-button>
    </form>
  </div>
</div>
