:host ::ng-deep .p-card{
    background-color: var(--sub-item-card);
    padding-top: 30px;
    height: 100%;
    position: relative;
    
    blockquote, li {
        width: fit-content;
    }

    li {
        margin: 10px 0;
    }

    .plan-button {
        position: absolute;
        bottom: 30px;
        left: 18%;
        width: 65%;
    }
}
.container{
    margin-bottom: 60px;

    .benefits {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 40px;
        margin-bottom: 60px;
    }
}
.card-container{
    position: relative;

    .discount{
        position: absolute;
        left: -15px;
        top: 10px;
        padding: 10px 20px;
        transform: rotate(-45deg);
        background-color: rgb(54, 54, 158);
        border-radius: 10px;
        z-index: 1;
    }
    .sub-btn{
        padding: 5px 10px;
        border: none;
        border-radius: 4px;
        color: var(--card-button-color);
        background-color: var(--card-button-background);
    }
}
