<div class="container mt-8">
  <p class="text-center mb-2 font-italic font-light text-3xl">Subscription</p>
  <p class="text-center mb-2 font-italic font-light text-3xl">
    we have an amazing plan for this
  </p>
  <div class="flex flex-wrap justify-content-center gap-2 mt-3 text-center">
    <ng-container *ngFor="let plan of subscriptions; let index = index">
      <div class="card-container">
        <p class="text-white discount">{{ plan.name }}</p>

        <p-card
          [style]="{
            width: '360px',
            'border-radius': '8%',
            overflow: 'hidden'
          }"
        >
          <h3 class="my-1">{{ plan.subscribe_value }}$</h3>
          <h6 class="my-1">
            {{ plan.duration }}
            <span *ngIf="plan.duration == 1; else more">Month</span
            ><ng-template #more>Months</ng-template>
          </h6>
          <p class="font-bold">
            Discount Value:
            <span class="text-2xl">{{ plan.discount_value }}%</span>
          </p>

          <div class="benefits">
            <div [innerHTML]="setHTML(plan.benefit)"></div>
          </div>

          <div class="text-center" *ngIf="check == null">
            <p-button
              label="Get plan"
              (click)="SubscribeButton(index + 1)"
              icon="pi pi-arrow-up-right"
              styleClass="p-button-secondary w-100 plan-button"
            ></p-button>
          </div>
        </p-card>
      </div>
    </ng-container>
  </div>
</div>