<div class="p-container my-8">
  <table class="p-table p-component p-table-striped" style="width: 100%">
    <thead>
      <tr>
        <th class="p-2">Order description</th>
        <th class="p-2">Total price</th>
        <th class="p-2">Status</th>
        <th class="p-2">Delete Order</th>
      </tr>
    </thead>

    <tbody>
      <ng-container *ngFor="let item of userOrdersInHistory; let i = index">
        <tr class="p-card">
          <td>
            <div class="p-d-flex flex-row p-ai-center">
              <div class="p-ml-2">{{ item.note }}</div>
              <i class="pi pi-fw pi-chevron-right p-cursor-pointer" (click)="item.expanded = !item.expanded"></i>
            </div>
            <div *ngIf="item.expanded">
              <ul class="p-mt-2">
                <li *ngFor="let orderItem of item.items">
                  {{ orderItem.item.name }}
                </li>
              </ul>
            </div>
          </td>
          <td class="p-text-xl p-text-orange-400">
            {{ totalPrice(item.items) }}$
          </td>
          <td class="p-text-xl p-text-orange-400">
            {{ item.status }}
          </td>
          <td class="text-center">
            <a (click)="deleteOrder(item)" class="p-cursor-pointer" *ngIf="item.status == 'processing'">
              <i class="pi pi-trash p-text-2xl"></i>
            </a>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>