<div class="container my-8">
  <p-table [value]="userOrdersInHistory" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Order Description</th>
            <th>Total price</th>
            <th>Status</th>
            <th>Delete Order</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>
              <i  [ngClass]="product.expanded ?  'pi pi-chevron-down' : 'pi pi-chevron-right'"  (click)="product.expanded = !product.expanded"></i>
              {{ product.note }}
            </td>
            <td> {{ totalPrice(product.items) }}$</td>
            <td>{{ product.status }}</td>
            <td>
              <a (click)="deleteOrder(product)" class="p-cursor-pointer" *ngIf="product.status == 'processing'">
                <i class="pi pi-trash p-text-2xl text-orange-600 font-bold cursor-pointer text-3xl"></i>
              </a>
            </td>
        </tr>
        <tr>
          <div *ngIf="product.expanded" class="p-mt-2">
            <ng-container  *ngFor="let orderItem of product.items">
              
              <p class="ml-5 mt-2 "> {{ orderItem.item.name }}
                <i  [ngClass]="orderItem.expanded ?  'pi pi-chevron-down' : 'pi pi-chevron-right'"  (click)="orderItem.expanded = !orderItem.expanded"></i>
            
              </p>
              <div *ngIf="orderItem.expanded" class="p-mt-2">
                <ng-container *ngFor="let addition of orderItem.item.itemAdditions">
                  <p class="ml-6"> {{ addition.name }}</p>
                </ng-container>
                
              </div>
            </ng-container>
          </div>
        </tr>
    </ng-template>
  </p-table>
</div>


