<div class="register-container">
  <h3 class="page-title mt-4">Register</h3>
  <form [formGroup]="registerform" (ngSubmit)="onSubmit()" class="form">
    <div class="row">
      <div class="multi">
        <div class="w-50 mb-3">
          <label for="name_input" class="form-label">First Name</label>
          <input
            type="text"
            id="name_input"
            pInputText
            placeholder="First name"
            formControlName="first_name"
          />
          <div
            id="name_input_help"
            *ngIf="
              registerform.controls['first_name'].touched &&
              registerform.controls['first_name'].invalid
            "
            class="form-text"
          >
            <small
              *ngIf="registerform.controls['first_name'].errors?.['required']"
              >This field is required</small
            >
          </div>
        </div>
        <div class="w-50 mb-3">
          <label for="name_input" class="form-label">Last Name</label>
          <input
            type="text"
            id="name_input"
            pInputText
            placeholder="Last name"
            formControlName="last_name"
          />
          <div
            id="name_input_help"
            *ngIf="
              registerform.controls['last_name'].touched &&
              registerform.controls['last_name'].invalid
            "
            class="form-text"
          >
            <small
              *ngIf="registerform.controls['last_name'].errors?.['required']"
              >This field is required</small
            >
          </div>
        </div>
      </div>
      <div class="single">
        <div class="mb-3 w-100">
          <label for="email_input" class="form-label">Email</label>
          <input
            type="email"
            pInputText
            placeholder="Email"
            id="email_input"
            formControlName="email"
          />
          <div
            id="email_input"
            *ngIf="
              registerform.controls['email'].touched &&
              registerform.controls['email'].invalid
            "
            class="form-text"
          >
            <small *ngIf="registerform.controls['email'].errors?.['required']"
              >This field is required</small
            >
            <small *ngIf="registerform.controls['email'].errors?.['pattern']"
              >the email must be like (example@example.com)</small
            >
          </div>
        </div>
      </div>
      <div class="multi">
        <div class="mb-3 w-50">
          <label for="Phone_input" class="form-label">Phone 1</label>
          <p-inputMask
            id="phone"
            [autoClear]="false"
            [required]="true"
            formControlName="phone1"
            mask="+20-1999999999"
            placeholder="+20-1999999999"
            styleClass="input p-2 border-round outline-none w-full"
            class="mask-button"
          ></p-inputMask>
          <div
            id="Phone_input_help"
            *ngIf="
              registerform.controls['phone1'].touched &&
              registerform.controls['phone1'].invalid
            "
            class="form-text"
          >
            <small *ngIf="registerform.controls['phone1'].errors?.['required']"
              >This field is required</small
            >
            <small *ngIf="registerform.controls['phone1'].errors?.['pattern']">
              it must be 11 digits and start with (010 or 011 or 012 or
              015)example 010xxxxxxxx</small
            >
          </div>
        </div>
        <div class="mb-3 w-50">
          <label for="Phone_input" class="form-label">Phone 2</label>
          <p-inputMask
            id="phone"
            [autoClear]="false"
            [required]="true"
            formControlName="phone2"
            mask="+20-1999999999"
            placeholder="+20-1999999999"
            styleClass="input p-2 border-round outline-none w-full"
            class="mask-button"
          ></p-inputMask>
          <div
            id="Phone_input_help"
            *ngIf="
              registerform.controls['phone2'].touched &&
              registerform.controls['phone2'].invalid
            "
            class="form-text"
          >
            <small *ngIf="registerform.controls['phone2'].errors?.['required']"
              >This field is required</small
            >
            <small *ngIf="registerform.controls['phone2'].errors?.['pattern']">
              it must be 11 digits and start with (010 or 011 or 012 or
              015)example 010xxxxxxxx</small
            >
          </div>
        </div>
      </div>
      <div class="multi">
        <div class="mb-3 w-50">
          <label for="password_input" class="form-label">Password</label>
          <input
            type="password"
            pInputText
            id="password_input"
            placeholder="Password"
            formControlName="password"
          />
          <div
            id="password_input_help"
            *ngIf="
              registerform.controls['password'].touched &&
              registerform.controls['password'].invalid
            "
            class="form-text"
          >
            <small
              *ngIf="registerform.controls['password'].errors?.['required']"
              >This field is required</small
            >
            <small
              *ngIf="registerform.controls['password'].errors?.['minlength']"
              >This field is minlength 8</small
            >
            <small *ngIf="registerform.controls['password'].errors?.['pattern']"
              >This field is must contain</small
            >
          </div>
        </div>
        <div class="mb-3 w-50">
          <label for="confirmpassword_input" class="form-label"
            >confirmPassword</label
          >
          <input
            type="password"
            pInputText
            id="confirmpassword_input"
            placeholder="Confirm password"
            formControlName="password_confirmation"
          />
          <div
            id="confirmpassword_input_help"
            *ngIf="
              registerform.controls['password_confirmation'].touched &&
              registerform.controls['password_confirmation'].invalid
            "
            class="form-text"
          >
            <small
              *ngIf="registerform.controls['password_confirmation'].errors?.['required']"
              >This field is required</small
            >
            <small
              *ngIf="registerform.controls['password_confirmation'].errors?.['minlength']"
              >This field is minlength 8</small
            >
            <small
              *ngIf="registerform.controls['password_confirmation'].errors?.['pattern']"
              >This field is must contain</small
            >
            <small
              *ngIf="registerform.controls['password_confirmation'].errors?.['checkpass']"
            >
              Password and Confirm Password do not match.
            </small>
          </div>
        </div>
      </div>

      <!-- <button type="submit" class="btn button" [disabled]="registerform.invalid">
        Rejecter
      </button> -->
      <!-- <button  class="btn button" [disabled]="registerform.invalid">Some action</button> -->
      <p-button
        (click)="onSubmit()"
        class="btn button"
        [disabled]="registerform.invalid"
      >
        <span>Register</span></p-button
      >
    </div>
  </form>
</div>
