<div class="add-user-container">
    <h3 class="admin-page-title">Add User</h3>
  
    <div class="card">
      <form
        [formGroup]="EditEmail"
        (ngSubmit)="onSubmit()"
        class="formgrid grid w-full mt-3 mx-auto form"
      >
        <div class="col-12 md:col-6 mb-4 pr-0 md:pr-3">
          <div class="flex flex-column-reverse">
            <input
              id="name"
              type="text"
              pInputText
              [required]="true"
              [minlength]="4"
              formControlName="name"
              class="input p-2 border-round outline-none w-full"
            />
            <label for="name" class="block mb-2">Name *</label>
          </div>
  
          <div
            class="error-message"
            *ngIf="
              EditEmail.controls['name'].touched &&
              EditEmail.controls['name'].invalid
            "
          >
            <small
              class="block"
              *ngIf="EditEmail.controls['name'].errors?.['required']"
            >
              First name is required
            </small>
            <small
              class="block"
              *ngIf="EditEmail.controls['name'].errors?.['minlength']"
            >
              First name is must be more than 3 characters
            </small>
            <small
              class="block"
              *ngIf="EditEmail.controls['name'].errors?.['pattern']"
            >
              First name must contains only letters
            </small>
          </div>
        </div>
        <div class="col-12 md:col-6 mb-4">
          <div class="flex flex-column-reverse">
            <input
              id="email"
              type="email"
              [required]="true"
              pInputText
              formControlName="email"
              class="input p-2 border-round outline-none w-full"
            />
            <label for="email" class="block mb-2">Email *</label>
          </div>
  
          <div
            class="error-message"
            *ngIf="
              EditEmail.controls['email'].touched &&
              EditEmail.controls['email'].invalid
            "
          >
            <small
              class="block"
              *ngIf="EditEmail.controls['email'].errors?.['required']"
            >
              Email is required
            </small>
            <small
              class="block"
              *ngIf="EditEmail.controls['email'].errors?.['pattern']"
            >
              It must be a valid email
            </small>
          </div>
        </div>
        <div  class="col-12 md:col-12 mb-4 md:pr-3">
            <label for="toogle" class="block mb-2">Status *</label>
            <p-toggleButton
            id="toggle"
            [ngModel]="isContacted"
            [class]="getToggleButtonClass()"
            onLabel="Active"
            offLabel="In Active"
          ></p-toggleButton>
          </div>
        <button
          type="submit"
          class="primary-button w-5 mx-auto my-3"
          [disabled]="EditEmail.invalid"
        >
          Add
        </button>
      </form>
    </div>
  </div>
  