<div class="menu-items-container">
  <h3 class="admin-page-title">All Orders</h3>

  <div class="card">
    <p-table
      #dt1
      [value]="adminOrders"
      dataKey="id"
      [rows]="10"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 25, 50]"
      [loading]="loading"
      [paginator]="true"
      [globalFilterFields]="[
        'price',
        'userName',
        'createdAt',
        'totalPrice',
        'note',
        'paymentMethod',
        'discountCode',
        'confirmInstruction',
        'street',
        'area',
        'city',
        'building_name',
        'floor_number',
        'flat_number',
        'gps_location',
        'phone1',
        'phone2'
      ]"
    >
      <ng-template pTemplate="caption">
        <div class="flex">
          <button
            pButton
            label="Clear"
            class="p-button-outlined"
            icon="pi pi-filter-slash"
            (click)="clear(dt1)"
          ></button>
          <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="applyFilterGlobal($event, dt1, 'contains')"
              placeholder="Search keyword"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 4rem"></th>
          <th style="min-width: 4rem">
            <div class="flex align-items-center">
              User name
              <p-columnFilter
                type="text"
                field="userName"
                display="menu"
              ></p-columnFilter>
            </div>
          </th>
          <th style="min-width: 4rem">
            <div class="flex align-items-center">
              Created at
              <p-columnFilter
                type="text"
                field="createdAt"
                display="menu"
              ></p-columnFilter>
            </div>
          </th>
          <th style="min-width: 4rem">
            <div class="flex align-items-center">
              Phone 1
              <p-columnFilter
                type="numeric"
                field="phone1"
                display="menu"
              ></p-columnFilter>
            </div>
          </th>
          <th style="min-width: 4rem">
            <div class="flex align-items-center">
              Phone 2
              <p-columnFilter
                type="numeric"
                field="phone2"
                display="menu"
              ></p-columnFilter>
            </div>
          </th>
          <th style="min-width: 4rem">
            <div class="flex align-items-center">
              Street
              <p-columnFilter
                type="text"
                field="street"
                display="menu"
              ></p-columnFilter>
            </div>
          </th>
          <th style="min-width: 4rem">
            <div class="flex align-items-center">
              Area
              <p-columnFilter
                type="text"
                field="area"
                display="menu"
              ></p-columnFilter>
            </div>
          </th>
          <th style="min-width: 4rem">
            <div class="flex align-items-center">
              City
              <p-columnFilter
                type="text"
                field="city"
                display="menu"
              ></p-columnFilter>
            </div>
          </th>
          <th style="min-width: 4rem">
            <div class="flex align-items-center">
              Building name
              <p-columnFilter
                type="text"
                field="building_name"
                display="menu"
              ></p-columnFilter>
            </div>
          </th>
          <th style="min-width: 4rem">
            <div class="flex align-items-center">
              Floor number
              <p-columnFilter
                type="numeric"
                field="floor_number"
                display="menu"
              ></p-columnFilter>
            </div>
          </th>
          <th style="min-width: 4rem">
            <div class="flex align-items-center">
              Flat number
              <p-columnFilter
                type="numeric"
                field="flat_number"
                display="menu"
              ></p-columnFilter>
            </div>
          </th>
          <th style="min-width: 4rem">
            <div class="flex align-items-center">
              GPS location
              <p-columnFilter
                type="text"
                field="gps_location"
                display="menu"
              ></p-columnFilter>
            </div>
          </th>
          <th style="min-width: 4rem">
            <div class="flex align-items-center">
              Note
              <p-columnFilter
                type="text"
                field="note"
                display="menu"
              ></p-columnFilter>
            </div>
          </th>
          <th style="min-width: 4rem">
            <div class="flex align-items-center">
              Total price
              <p-columnFilter
                type="numeric"
                field="totalPrice"
                display="menu"
                currency="USD"
              ></p-columnFilter>
            </div>
          </th>
          <th style="min-width: 4rem">
            <div class="flex align-items-center">
              Payment method
              <p-columnFilter
                type="text"
                field="paymentMethod"
                display="menu"
              ></p-columnFilter>
            </div>
          </th>
          <th style="min-width: 4rem">
            <div class="flex align-items-center">
              Discount code
              <p-columnFilter
                type="text"
                field="discountCode"
                display="menu"
              ></p-columnFilter>
            </div>
          </th>
          <th style="min-width: 4rem">
            <div class="flex align-items-center">
              Status
              <p-columnFilter
                type="text"
                field="confirmInstruction"
                display="menu"
              ></p-columnFilter>
            </div>
          </th>
          <th style="min-width: 4rem">
            <div class="flex align-items-center">
              Actions
              <p-columnFilter
                type="text"
                field="confirmInstruction"
                display="menu"
              ></p-columnFilter>
            </div>
          </th>
          <th style="min-width: 4rem">
            <div class="flex align-items-center">
              Confirm instructions
              <p-columnFilter
                type="text"
                field="confirmInstruction"
                display="menu"
              ></p-columnFilter>
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-order let-expanded="expanded">
        <tr>
          <td>
            <button
              type="button"
              pButton
              pRipple
              [pRowToggler]="order"
              class="p-button-text p-button-rounded p-button-plain"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
            ></button>
          </td>
          <td>{{ order.user.first_name }} </td>
          <td>{{ order.created_at | date }}</td>
          <td>{{ order.user.phones[0].phone }}</td>
          <td>{{ order.user.phones[1].phone }}</td>
          <td>{{ order.street }}</td>
          <td>{{ order.area }}</td>
          <td>{{ order.city }}</td>
          <td>{{ order.building_name }}</td>
          <td>{{ order.floor_number }}</td>
          <td>{{ order.flat_number }}</td>
          <td>{{ order.GPS_location }}</td>
          <td>{{ order.note }}</td>
          <td>
            {{ totalPrice(order.items) }}
          </td>
          <td>{{ order.payment_method}}</td>
          <td>{{ order.discount_code}}</td>
          <td>{{ order.status }}</td>
          <td *ngIf="order.status != 'done'; else done">
            <select name="status" (change)="updateStatus(order.id, $event)" >
              <option>{{ order.status }}</option>
              <ng-container *ngFor="let status of statusValue(order.status)">
                <option [value]="status"> {{ status }} </option>
              </ng-container>
            </select>
          </td>
          <ng-template #done>
            <td>
              order is already done
            </td>
          </ng-template>
          <td>
            <p-tag
              [value]="order.confirmInstruction"
              [severity]="confirmInstructionStatus(order.confirm_instructions)"
            ></p-tag>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-item >
        <tr>
          <td colspan="12">
            <div class="p-3">
              <p-table [value]="item.items" dataKey="id">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Category</th>
                    <th>Discount</th>
                    <th>Additions</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                  <tr>
                    <td>
                      <img width="100" [src]="item.image" [alt]="item.name" />
                    </td>
                    <td>{{ item.item.name }}</td>
                    <td>{{ item.item.price | currency : "USD" }}</td>
                    <td>{{ item.item.quantity }}</td>
                    <td>{{ item.item.category }}</td>
                    <td>{{ item.item.discount }}</td>
                    <td>
                      <span
                        class="surface-600 text-white px-2 py-1 border-round m-1"
                        *ngFor="let addition of item.additions"
                        >{{ addition.name }}</span
                      >
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">No orders found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
