:host ::ng-deep .p-menubar {
    border-radius: 0;
    border: none;
    background-color: #fd702a;
    padding: 10px 20px;
    color: black;
}
:host ::ng-deep .link1 {
    font-size: 20px;
    left: 200px;
}
:host ::ng-deep .link2 {

    font-size: 20px;
    left: 220px;
}
:host ::ng-deep .link3 {
    font-size: 20px;
    left: 240px;
}
.text {
    height: 50px;
    width: 200px;
    padding: 10px;
    font-size: 20px;
    border-radius: 50px;
    border: none;
}
:host ::ng-deep .send {
    font-size: 45px;
    color: rgb(30, 177, 221);
}
:host ::ng-deep {
    .pi {
        font-size: 20px;
        color: black;
    }.pi-chevron-down:before {
        color: black;
    }
}