:host ::ng-deep .p-menubar {
    border: 1px solid black;
    border: none;    
    background-color: #fb884f;
    color: black;
    padding: 10px 70px;
}
:host ::ng-deep .link1 {
    font-size: 30px;
    left: 300px;
}
:host ::ng-deep .link2  {

    font-size: 30px;
    left: 320px;
}
:host ::ng-deep  .link3  {
    font-size: 30px;
    left: 340px;
}
.text{
    height: 50px;
    width: 200px;
    padding: 10px;
    font-size: 20px;
    border-radius: 50px;
    border: none;
}
:host ::ng-deep .send{
    font-size: 75px;
    color: rgb(30, 177, 221);
}
:host ::ng-deep {
    .pi {
        font-size: 25px;
        color: black;
    }
    .pi-chevron-down:before {
        color: black;
    }
}

