<div class="payment-order-list-container mt-3 mb-5">
    <h3 class="title">Your order</h3>

    <div class="list-container mt-5" >
        <div class="item flex flex-row justify-content-between py-3 px-5 my-3" *ngFor="let item of items">
            <span>{{ item.item.name }}</span>
            <span class="text-left">× {{ item.quantity }}</span>
            <span class="text-right">{{ item.item.price | currency }}</span>
        </div>
        <p class="total-price text-right">Total Price: <span>{{ totalPrice | currency }}</span></p>
    </div>
</div>