@import "/src/styles.scss";

:host ::ng-deep .contact-us-form-container {
  margin: 100px 0 30px;

  .page-title {
    font-size: 35px;
    margin: 50px 0;
  }

  .error-message {
    color: red;
  }

  label {
    color: $title-text-color;
  }

  .p-inputtext, .mask-button {
    border: 1.5px solid;

    &:focus,
    &:hover {
      border-color: $Button-orange-color;
      color: $Button-orange-color;
      box-shadow: none;

      + label {
        font-weight: 500;
        color: $Button-orange-color;
      }
    
    }
  }
}

