<div class="contact-us-form-container">
  <h3 class="page-title">Send a message to us</h3>

  <form
    [formGroup]="contactUsForm"
    (ngSubmit)="onSubmit()"
    class="formgrid grid w-full md:w-10 lg:w-8 mx-auto"
  >
    <div class="col-12 md:col-6 mb-4">
      <div class="flex flex-column-reverse">
        <input
          id="first-name"
          type="text"
          pInputText
          [required]="true"
          [minlength]="4"
          formControlName="firstName"
          class="input p-2 border-round outline-none w-full"
        />
        <label htmlFor="first-name" class="block mb-2">First Name *</label>
      </div>

      <div
        class="error-message"
        *ngIf="
          contactUsForm.controls['firstName'].touched &&
          contactUsForm.controls['firstName'].invalid
        "
      >
        <small *ngIf="contactUsForm.controls['firstName'].errors?.['required']">
          First name is required
        </small>
        <small
          *ngIf="contactUsForm.controls['firstName'].errors?.['minlength']"
        >
          First name is must be more than 3 characters
        </small>
      </div>
    </div>

    <div class="col-12 md:col-6 mb-4">
      <div class="flex flex-column-reverse">
        <input
          id="last-name"
          type="text"
          [required]="true"
          [minlength]="4"
          pInputText
          formControlName="lastName"
          class="input p-2 border-round outline-none w-full"
        />
        <label htmlFor="last-name" class="block mb-2">Last Name *</label>
      </div>

      <div
        class="error-message"
        *ngIf="
          contactUsForm.controls['lastName'].touched &&
          contactUsForm.controls['lastName'].invalid
        "
      >
        <small *ngIf="contactUsForm.controls['lastName'].errors?.['required']">
          Last name is required
        </small>
        <small *ngIf="contactUsForm.controls['lastName'].errors?.['minlength']">
          Last name is must be more than 3 characters
        </small>
      </div>
    </div>

    <div class="col-12 mb-4">
      <div class="flex flex-column-reverse">
        <input
          id="email"
          type="email"
          [required]="true"
          pInputText
          formControlName="email"
          class="input p-2 border-round outline-none w-full"
        />
        <label for="email" class="block mb-2">Email *</label>
      </div>

      <div
        class="error-message"
        *ngIf="
          contactUsForm.controls['email'].touched &&
          contactUsForm.controls['email'].invalid
        "
      >
        <small *ngIf="contactUsForm.controls['email'].errors?.['required']">
          Email is required
        </small>
        <small *ngIf="contactUsForm.controls['email'].errors?.['pattern']">
          It must be a valid email
        </small>
      </div>
    </div>

    <div class="col-12 md:col-6 mb-4">
      <div class="flex flex-column-reverse">
        <p-inputMask
          id="phone1"
          [autoClear]="false"
          [required]="true"
          formControlName="phone1"
          mask="+20-9999999999"
          placeholder="+20-9999999999"
          styleClass="input p-2 border-round outline-none w-full "
        ></p-inputMask>

        <label for="phone1" class="block mb-2">Phone 1 *</label>
      </div>

      <div
        class="error-message"
        *ngIf="
          contactUsForm.controls['phone1'].touched &&
          contactUsForm.controls['phone1'].invalid
        "
      >
        <small *ngIf="contactUsForm.controls['phone1'].errors?.['required']">
          Phone is required
        </small>
        <small *ngIf="contactUsForm.controls['phone1'].errors?.['pattern']">
          It must be a valid phone number
        </small>
      </div>
    </div>

    <div class="col-12 md:col-6 mb-4">
      <div class="flex flex-column-reverse">
        <p-inputMask
          id="phone2"
          [autoClear]="false"
          formControlName="phone2"
          mask="+20-9999999999"
          placeholder="+20-9999999999"
          styleClass="input p-2 border-round outline-none w-full "
        ></p-inputMask>
        <label htmlFor="phone2" class="block mb-2">Phone 2</label>
      </div>

      <div
        class="error-message"
        *ngIf="
          contactUsForm.controls['phone2'].touched &&
          contactUsForm.controls['phone2'].invalid
        "
      >
        <small *ngIf="contactUsForm.controls['phone2'].errors?.['required']">
          Phone is required
        </small>
        <small *ngIf="contactUsForm.controls['phone2'].errors?.['pattern']">
          It must be a valid phone number
        </small>
      </div>
    </div>

    <div class="col-12 mb-4">
      <div class="flex flex-column-reverse">
        <textarea
          id="address"
          type="text"
          pInputText
          [required]="true"
          [minlength]="11"
          formControlName="message"
          rows="6"
          class="input p-2 border-round outline-none w-full"
        ></textarea>
        <label for="message" class="block mb-2">Message *</label>
      </div>

      <div
        class="error-message"
        *ngIf="
          contactUsForm.controls['message'].touched &&
          contactUsForm.controls['message'].invalid
        "
      >
        <small *ngIf="contactUsForm.controls['message'].errors?.['required']">
          Message is required
        </small>
        <small *ngIf="contactUsForm.controls['message'].errors?.['minlength']">
          Message is must be more than 10 characters
        </small>
      </div>
    </div>

    <button type="submit" class="primary-button w-5 mx-auto my-3">Send</button>
  </form>
</div>
