:host ::ng-deep .p-menubar {
border-radius: 0;
    border: none;
    background-color: #fd702a;
    color: black;
    padding: 10px 20px;
}
:host ::ng-deep .link1 ,
:host ::ng-deep .link2 ,
:host ::ng-deep .link3 ,
:host ::ng-deep .link4 ,
:host ::ng-deep .link5
{
    font-size: 20px;
}
:host ::ng-deep .send {
    font-size: 45px;
    color: rgb(30, 177, 221);
}
.Copy_Rights  {
    color: rgba(0, 0, 0, 0.627);
    background-color: #fd702a;
    font-size: 20px;
    text-align: center;
    padding-bottom: 1px;
}