@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "/src/styles.scss";

.cent {
  text-align: center;
  background-color: $Background-orange-color;

}

input[type="file"]{
  position: relative;
  margin-top: 9px;
  margin-left: 5px;
}

.all{
  background-color: white;
  text-align: center;
  display: inline-block;
  width: 60%;
  height: 40%;
}
form {
  display: inline-block;
  position: relative;
  margin-top: 70px;
}



.header{
  position: relative;
  //border: 2px solid $Button-orange-color;
  width: 50%;
  height: 50%;
  margin: auto;
  margin-top: 50px;
}
h1{
  color: $Button-orange-color;
}
.form-control{
  border-radius: 4px;
  width: 100%;
}



.form-control:focus {
    outline: none;
    transition: all 0.3s ease;
    color:$Button-orange-color;
  }


input::placeholder{
    color: silver;
  }

.text_danger{
    color: $Button-orange-color;
    margin-left: 15px;
    margin-top: 8px;
}  

.form-label {
  display: flex;
  margin-bottom: 5px;
}



.column {
  float: left;
  width: 50%;
}
.form-row{
  display: flex;
}
/* Clear floats after the columns */
.form-row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column,.form-row {
    width: 100%;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .lcolumn {
    width: 100%;
    margin-top: 15px;
    display: block;
  }
}