<div class="cent">
  <div class="all">
    <div class="header">
      <h1>Become a Partner</h1>
    </div>
    <form [formGroup]="partnerForm" (ngSubmit)="insertBartnerData()">
      <div class="form-row">
        <div class="column">
          <label for="name_input" class="form-label">First Name</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
              <i class="pi pi-user"></i>
            </span>
            <input
            [(ngModel)]="partner.first_name"
              
              placeholder="Enter your first name"
              type="text"
              class="form-control"
              id="name_input"
              aria-describedby="name_input_help"
              formControlName="first_name"
            />
          </div>
       
        </div>
        <br />
        <div class="column lcolumn">
          <label for="l_name_input" class="form-label">Last Name</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
              <i class="pi pi-user"></i>
            </span>
            <input
              
              [(ngModel)]="partner.last_name"
              placeholder="Enter your Last name"
              type="text"
              class="form-control"
              id="l_name_input"
              aria-describedby="l_name_input_help"
              formControlName="last_name"
              
            />
          </div>
          
        </div>
      </div>
      <br />
      <label for="email_input" class="form-label">Email</label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-envelope"></i>
        </span>
        <input
          
          [(ngModel)]="partner.email"
          placeholder="Enter your email"
          type="email"
          class="form-control"
          id="email_input"
          formControlName="email"
        />
  
      </div>
      <br />
      <label for="mobile_input" class="form-label">Mobile</label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-phone"></i>
        </span>

        <input
          
          [(ngModel)]="partner.mobile"

          placeholder="Enter your phone number"
          type="number"
          class="form-control"
          id="mobile_input"
          formControlName="mobile"
        />
        
      </div>
      <br />
      <label for="subject_input" class="form-label">Subject</label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon icon">
          <i class="pi pi-book"></i>
        </span>
        <input
          
          [(ngModel)]="partner.subject"

          placeholder="Enter your phone number"
          type="text"
          class="form-control"
          id="subject_input"
          formControlName="subject"
        />
        
      </div>
      <br />
      <label for="Message_input" class="form-label">Message</label>
      <div class="p-inputgroup">
        <textarea
          area
          [(ngModel)]="partner.message"

          name="Message_input"
          id="Message_input"
          formControlName="message"
          class="form-control"
          cols="30"
          rows="10"
        ></textarea>      
      </div>
      <br />
      <br />

      <p-button
        label="Apply"
        styleClass="p-button-warning"
        type="submit"
        [disabled]="partnerForm.invalid"
      ></p-button>
    </form>
  </div>
</div>
