.container {
  height: 580px;
  width: 100%;
  background-color: #f6e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .container-form {
    background-color: white;
    width: fit-content;
    height: 90%;
    text-align: center;
    // padding-top: 25px;
    padding: 25px 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    @media (max-width: 400px) {
        & {
          width: 300px;
        }
      }
 
    p {
      font-size: 20px;
      padding: 10px 0 20px;
      font-weight: bold;
    }
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      

      .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 15px;
        

        label {
          align-self: flex-start;
          margin-bottom: 4px;
        }
        span {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          position: relative;
          i {
            position: absolute;
            left: 5px;
            font-size: 18px;
            font-weight: bold;
          }
          input {
            padding: 10px 10px 10px 25px;
            font-size: 18px;
            width: 280px;
            @media (max-width: 400px) {
              & {
                width: 230px;
              }
            }
          }
        }
      }
      .check-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 280px;
        @media (max-width: 400px) {
          & {
            width: 250px;
          }
        }
        .checkBox {
          display: flex;
          gap: 5px;
          font-size: 13px;
          align-items: center;
        }
        a {
          font-size: 14px;
          text-decoration: none;
        }
      }
    }
  }
}
