<div class="container">
    <div class="container-form border-round-lg">
      <p><span class="word-color">Login</span></p>
      <span
        class="pi pi-user"
        style="font-size: 44px; margin-bottom: 40px"
      ></span>
  
      <form
        class="flex align-items-center gap-1"
        [formGroup]="formGroup"
        #loginForm="ngForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="box">
          <label htmlFor="username">Email</label>
          <span class="">
            <i class="pi pi-user"></i>
            <input
              type="text"
              pInputText
              placeholder="Email.."
              formControlName="email"
            />
            <button
            tooltipPosition="top"
            class="pi pi-question-circle d-flex  border-none "
            style=" margin-left: -16px; background-color: white;width:0px;"
            pTooltip="Click here to add the message"> 
              </button> 
          </span>
        </div>
  
        <div class="box">
          <label htmlFor="username">Password</label>
          <span class="">
            <i class="pi pi-lock"></i>
            <input
              type="password"
              pInputText
              placeholder="password"
              formControlName="password"
            />
            <button
            tooltipPosition="top"
            class="pi pi-question-circle d-flex  border-none "
            style=" margin-left: -16px; background-color: white;width:0px;"
            pTooltip="Click here to add the message"> 
              </button> 
          </span>
        </div>
  
        <div class="check-box">
          <div class="checkBox">
            <p-checkbox
              formControlName="city"
              value="New York"
              inputId="ny"
              formControlName="checkControl"
            ></p-checkbox>
            <label for="ny">Remember me</label>
          </div>
          <a routerLinkActive="active" routerLink="/forgetpass">Forget Password</a>        </div>
        <!-- <p-button label="Login" styleClass="p-button-danger px-4 py-2 mt-4" [disabled]="loginForm.invalid ? true : false" type="submit"></p-button> -->
        <button type="submit" label="Apply" class="primary-button w-5 mx-auto my-3" [disabled]="loginForm.invalid ? true : false" >Login</button>


        <div
          class="errors"
          [hidden]="formGroup.get('emailControl')?.untouched"
          class="text-red-400"
        >
          <small *ngIf="formGroup.get('emailControl')?.errors?.['required']"
            >email required</small
          >
          <small *ngIf="formGroup.get('emailControl')?.errors?.['pattern']"
            >Sorry, your email was incorrect. Please double-check your
            email.</small
          >
        </div>
        <div
          class="errors"
          [hidden]="formGroup.get('passControl')?.untouched"
          class="text-red-400"
        >
          <small *ngIf="formGroup.get('passControl')?.errors?.['required']"
            >password required</small
          >
          <small *ngIf="formGroup.get('passControl')?.errors?.['pattern']"
            >Sorry, your password was incorrect. Please double-check your
            password.</small
          >
        </div>
        <a routerLink="/register">
        <p-button styleClass="p-button-secondary p-button-text" class="mt-2 mb-3"
          >Create a new account</p-button
        >
      </a>
      </form>
      <form (ngSubmit)="Google()" >
        <p-button
        label="Login With Google"
        styleClass="p-button-danger px-4 py-2 mt-4"
        type="submit"
      ></p-button>
      </form>
    </div>
  </div>
  