<div class="left-side-container" [formGroup]="paymentForm">
  <div class="content-part flex flex-wrap">
    <div class="col-12">
      <h3 class="page-title sub-title py-3">Order information</h3>
    </div>

    <!-- <div class="col-12 md:col-6 mb-4 pr-0 md:pr-3">
      <div class="flex flex-column-reverse">
        <input
          id="first-name"
          type="text"
          pInputText
          [required]="true"
          [minlength]="4"
          formControlName="firstName"
          class="input p-2 border-round outline-none w-full"
        />
        <label for="first-name" class="block mb-2">First Name *</label>
      </div>

      <div
        class="error-message"
        *ngIf="
          paymentForm.controls['firstName'].touched &&
          paymentForm.controls['firstName'].invalid
        "
      >
        <small
          class="block"
          *ngIf="paymentForm.controls['firstName'].errors?.['required']"
        >
          First name is required
        </small>
        <small
          class="block"
          *ngIf="paymentForm.controls['firstName'].errors?.['minlength']"
        >
          First name is must be more than 3 characters
        </small>
        <small
          class="block"
          *ngIf="paymentForm.controls['firstName'].errors?.['pattern']"
        >
          First name must contains only letters
        </small>
      </div>
    </div>

    <div class="col-12 md:col-6 mb-4">
      <div class="flex flex-column-reverse">
        <input
          id="last-name"
          type="text"
          [required]="true"
          [minlength]="4"
          pInputText
          formControlName="lastName"
          class="input p-2 border-round outline-none w-full"
        />
        <label for="last-name" class="block mb-2">Last Name *</label>
      </div>

      <div
        class="error-message"
        *ngIf="
          paymentForm.controls['lastName'].touched &&
          paymentForm.controls['lastName'].invalid
        "
      >
        <small
          class="block"
          *ngIf="paymentForm.controls['lastName'].errors?.['required']"
        >
          Last name is required
        </small>
        <small
          class="block"
          *ngIf="paymentForm.controls['lastName'].errors?.['minlength']"
        >
          Last name is must be more than 3 characters
        </small>
        <small
          class="block"
          *ngIf="paymentForm.controls['lastName'].errors?.['pattern']"
        >
          Last name is must contains only letters
        </small>
      </div>
    </div> -->

    <div class="col-12 md:col-6 mb-4 pr-0 md:pr-3">
      <div class="flex flex-column-reverse">
        <p-inputMask
          id="phone1"
          [required]="true"
          [autoClear]="false"
          formControlName="phone1"
          mask="+20-1999999999"
          placeholder="+20-1999999999"
          styleClass="input p-2 border-round outline-none w-full"
          class="mask-button"
        ></p-inputMask>

        <label htmlFor="phone1" class="block mb-2">Phone 1 *</label>
      </div>

      <div
        class="error-message"
        *ngIf="
          paymentForm.controls['phone1'].touched &&
          paymentForm.controls['phone1'].invalid
        "
      >
        <small
          class="block"
          *ngIf="paymentForm.controls['phone1'].errors?.['required']"
        >
          Phone is required
        </small>
        <small
          class="block"
          *ngIf="paymentForm.controls['phone1'].errors?.['pattern']"
        >
          It must be a valid phone number
        </small>
      </div>
    </div>

    <div class="col-12 md:col-6 mb-4">
      <div class="flex flex-column-reverse">
        <p-inputMask
          id="phone2"
          [autoClear]="false"
          formControlName="phone2"
          mask="+20-1999999999"
          placeholder="+20-1999999999"
          styleClass="input p-2 border-round outline-none w-full"
          class="mask-button"
        ></p-inputMask>
        <label htmlFor="phone2" class="block mb-2">Phone 2</label>
      </div>

      <div
        class="error-message"
        *ngIf="
          paymentForm.controls['phone2'].touched &&
          paymentForm.controls['phone2'].invalid
        "
      >
        <small
          class="block"
          *ngIf="paymentForm.controls['phone2'].errors?.['required']"
        >
          Phone is required
        </small>
        <small
          class="block"
          *ngIf="paymentForm.controls['phone2'].errors?.['pattern']"
        >
          It must be a valid phone number
        </small>
      </div>
    </div>

    <div class="col-12 mb-4">
      <div class="flex flex-column-reverse">
        <input
          id="street"
          type="text"
          [required]="true"
          pInputText
          formControlName="street"
          class="input p-2 border-round outline-none w-full"
        />
        <label for="street" class="block mb-2">Street *</label>
      </div>

      <div
        class="error-message"
        *ngIf="
          paymentForm.controls['street'].touched &&
          paymentForm.controls['street'].invalid
        "
      >
        <small
          class="block"
          *ngIf="paymentForm.controls['street'].errors?.['required']"
        >
          Street is required
        </small>
      </div>
    </div>

    <div class="col-12 md:col-6 mb-4 pr-0 md:pr-3">
      <div class="flex flex-column-reverse">
        <input
          id="area"
          type="text"
          pInputText
          [required]="true"
          [minlength]="2"
          formControlName="area"
          class="input p-2 border-round outline-none w-full"
        />
        <label for="area" class="block mb-2">Area *</label>
      </div>

      <div
        class="error-message"
        *ngIf="
          paymentForm.controls['area'].touched &&
          paymentForm.controls['area'].invalid
        "
      >
        <small
          class="block"
          *ngIf="paymentForm.controls['area'].errors?.['required']"
        >
          Area is required
        </small>
        <small
          class="block"
          *ngIf="paymentForm.controls['area'].errors?.['minlength']"
        >
          Area is must be more than 2 characters
        </small>
      </div>
    </div>

    <div class="col-12 md:col-6 mb-4">
      <div class="flex flex-column-reverse">
        <input
          id="city"
          type="text"
          [required]="true"
          [minlength]="2"
          pInputText
          formControlName="city"
          class="input p-2 border-round outline-none w-full"
        />
        <label for="city" class="block mb-2">City *</label>
      </div>

      <div
        class="error-message"
        *ngIf="
          paymentForm.controls['city'].touched &&
          paymentForm.controls['city'].invalid
        "
      >
        <small
          class="block"
          *ngIf="paymentForm.controls['city'].errors?.['required']"
        >
          City is required
        </small>
        <small
          class="block"
          *ngIf="paymentForm.controls['city'].errors?.['minlength']"
        >
          City is must be more than 2 characters
        </small>
      </div>
    </div>

    <div class="col-12 md:col-4 mb-4 pr-0 md:pr-3">
      <div class="flex flex-column-reverse">
        <input
          id="building_name"
          type="text"
          pInputText
          [required]="true"
          formControlName="building_name"
          class="input p-2 border-round outline-none w-full"
        />
        <label for="building_name" class="block mb-2"
          >Building Name or Number *</label
        >
      </div>

      <div
        class="error-message"
        *ngIf="
          paymentForm.controls['building_name'].touched &&
          paymentForm.controls['building_name'].invalid
        "
      >
        <small
          class="block"
          *ngIf="paymentForm.controls['building_name'].errors?.['required']"
        >
          Building name or number is required
        </small>
      </div>
    </div>

    <div class="col-12 md:col-4 mb-4 pr-0 md:pr-3">
      <div class="flex flex-column-reverse">
        <p-inputNumber
          [useGrouping]="false"
          formControlName="floor_number"
          [format]="false"
          styleClass="w-full"
          class="mask-button"
          [required]="true"
        >
        </p-inputNumber>
        <label for="floor_number" class="block mb-2">Floor Number *</label>
      </div>

      <div
        class="error-message"
        *ngIf="
          paymentForm.controls['floor_number'].touched &&
          paymentForm.controls['floor_number'].invalid
        "
      >
        <small
          class="block"
          *ngIf="paymentForm.controls['floor_number'].errors?.['required']"
        >
          Floor number is required
        </small>
      </div>
    </div>

    <div class="col-12 md:col-4 mb-4">
      <div class="flex flex-column-reverse">
        <p-inputNumber
          [useGrouping]="false"
          formControlName="flat_number"
          [format]="false"
          styleClass="w-full"
          class="mask-button"
        >
        </p-inputNumber>

        <label for="flat_number" class="block mb-2">Flat Number</label>
      </div>
    </div>

    <div class="col-12 mb-4">
      <div class="flex flex-column-reverse">
        <input
          id="gps_location"
          type="text"
          pInputText
          formControlName="gps_location"
          class="input p-2 border-round outline-none w-full"
        />
        <label for="gps_location" class="block mb-2"
          >location On GPS (Optional)</label
        >
      </div>
    </div>

    <div class="col-12 mb-4">
      <div class="flex flex-column-reverse">
        <textarea
          rows="5"
          cols="30"
          pInputTextarea
          formControlName="notes"
        ></textarea>
        <label for="notes" class="block mb-2">Notes</label>
      </div>
    </div>

    <div class="col-12 mb-4">
      <label class="block mb-4">Payment Method *</label>
      <div class="flex flex-wrap">
        <div *ngFor="let method of payment_methods" class="col-12 md:col-4 p-2">
          <div
            class="field-checkbox p-4"
            [class.div-focused]="paymentForm.value.paymentMethod === method.key"
          >
            <p-radioButton
              [inputId]="method.key"
              [value]="method.key"
              formControlName="paymentMethod"
            ></p-radioButton>
            <label
              [for]="method.key"
              class="ml-2 cursor-pointer"
              [class.label-focused]="
                paymentForm.value.paymentMethod === method.key
              "
              >{{ method.name }}</label
            >
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 mb-4" *ngIf="paymentForm.value.paymentMethod === 'balance'">
      <app-balance-details></app-balance-details>
    </div>
  </div>
</div>
