
:host ::ng-deep .p-card{
    background-color: rgb(250, 218, 158);
    padding-top: 30px;
}
.cartIcon{
    position: absolute;
    right: 20px;
    bottom: 10px;
    background-color: #fd702a;
    color: white;
    padding: 10px;
    border-radius: 30%;
}
 .p-paginator p-component{
    margin-top: 20px;
}