@import "/src/styles.scss";

:host ::ng-deep .order-instruction-container {
    .confirm-container,
    .p-radiobutton-box {
        border: 1.5px solid $title-text-color;
    }

    label {
        color: $title-text-color;
    }

    .p-radiobutton-checked,
    .p-radiobutton-focused {
        border: 1.5px solid $Button-orange-color;
    }
}