@import "/src/styles.scss";

:host ::ng-deep .order-instruction-container {
  .confirm-container {
    border: 1.5px solid $title-text-color !important;
    
    .p-radiobutton-box {
      border: 1.5px solid $title-text-color !important;

      &:hover {
        border-color: $Button-orange-color !important;
      }
    }
  }

  label {
    color: $title-text-color;
  }

  .p-radiobutton-checked,
  .p-radiobutton-focused {
    .p-radiobutton-box {
      border: 1.5px solid $Button-orange-color !important;
      box-shadow: none;
    }
  }

  .p-radiobutton .p-radiobutton-box.p-highlight {
    background: $Button-orange-color;
  }
}
