<div class="edit-addition-container">
    <h3 class="admin-page-title">Edit Addition</h3>
  
    <div class="card">
      <form
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
        class="formgrid grid w-full mt-3 mx-auto form"
      >
        <div class="col-12 mb-4">
          <div class="flex flex-column-reverse">
            <input
              id="name"
              type="text"
              pInputText
              [required]="true"
              [minlength]="4"
              formControlName="name"
              class="input p-2 border-round outline-none w-full"
            />
            <label for="name" class="block mb-2">Name *</label>
          </div>
  
          <div
            class="error-message"
            *ngIf="
              form.controls['name'].touched &&
              form.controls['name'].invalid
            "
          >
            <small
              class="block"
              *ngIf="form.controls['name'].errors?.['required']"
            >
              Addition name is required
            </small>
            <small
              class="block"
              *ngIf="form.controls['name'].errors?.['minlength']"
            >
              Addition name is must be more than 3 characters
            </small>
          </div>
        </div>
  
        <div class="col-12 mb-4">
          <div class="flex flex-column-reverse">
            <p-inputNumber
              [useGrouping]="false"
              formControlName="price"
              [format]="false"
              styleClass="w-full"
              class="mask-button w-full"
              [required]="true"
              [min]="1"
            >
            </p-inputNumber>
            <label for="price" class="block mb-2">Price *</label>
          </div>
    
          <div
            class="error-message"
            *ngIf="
              form.controls['price'].touched &&
              form.controls['price'].invalid
            "
          >
            <small
              class="block"
              *ngIf="form.controls['price'].errors?.['required']"
            >
              Price is required
            </small>
          </div>
        </div>
  
        <div class="col-12 mb-4">
          <div class="flex flex-column-reverse">
            <textarea
              rows="7"
              cols="30"
              pInputTextarea
              formControlName="description"
            ></textarea>
            <label for="description" class="block mb-2">Description</label>
          </div>
        </div>
  
        <div class="col-12 mb-4">
          <div class="flex flex-column-reverse">
            <p-fileUpload
              name="image"
              url="./upload"
              accept="image/*"
              (onSelect)="onSelect($event)"
              (onRemove)="onRemove()"
              [showUploadButton]="false"
              [showCancelButton]="false"
            ></p-fileUpload>
            <label for="image" class="block mb-2">Image *</label>
          </div>
  
          <div
            class="error-message"
            *ngIf="
              form.controls['image'].touched &&
              form.controls['image'].invalid
            "
          >
            <small
              class="block"
              *ngIf="form.controls['image'].errors?.['required']"
            >
              Addition image is required
            </small>
          </div>
        </div>
  
        <button
          type="submit"
          class="primary-button w-5 mx-auto my-3"
          [disabled]="form.invalid"
        >
          Edit
        </button>
      </form>
    </div>
  </div>
  