<div class="add-user-container">
  <p-toast></p-toast>
  <h3 class="admin-page-title">Edit Social</h3>

  <div class="card">
    <div class="loader" *ngIf="loader">
      <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="4" animationDuration="1s"></p-progressSpinner>
    </div>

    <form
      [formGroup]="EditSocial"
      (ngSubmit)="onSubmit()"
      class="formgrid grid w-full mt-3 mx-auto form"
    >
      <div class="col-12 mb-2">
        <h4>{{ socialAccount.name | titlecase }}</h4>
      </div>
      <div class="col-12 mb-4">
        <div class="flex flex-column-reverse">
          <input
            id="link"
            type="link"
            [required]="true"
            pInputText
            formControlName="link"
            class="input p-2 border-round outline-none w-full"
          />
          <label for="link" class="block mb-2">Link *</label>
        </div>

        <div
          class="error-message"
          *ngIf="
            EditSocial.controls['link'].touched &&
            EditSocial.controls['link'].invalid
          "
        >
          <small
            class="block"
            *ngIf="EditSocial.controls['link'].errors?.['required']"
          >
            Link is required
          </small>
          <small
            class="block"
            *ngIf="EditSocial.controls['link'].errors?.['pattern']"
          >
            It must be a valid Link
          </small>
        </div>
      </div>
      <!-- <div  class="col-12 md:col-12 mb-4 md:pr-3">
          <label for="toogle" class="block mb-2">Status *</label>
          <p-toggleButton
          id="toggle"
          [ngModel]="isContacted"
          [class]="getToggleButtonClass()"
          onLabel="Active"
          offLabel="In Active"
        ></p-toggleButton>
        </div> -->
      <button
        type="submit"
        class="primary-button w-5 mx-auto my-3"
        [disabled]="EditSocial.invalid"
      >
        Edit
      </button>
    </form>
  </div>
</div>
