
  :host ::ng-deep .second-container{
    width:100%;
    object-fit:cover;
  }
  :host ::ng-deep .banner-image{
    width:100%;
    height: 100%;
    

  }
  :host ::ng-deep .p-galleria-item {
    align-items: normal ;
    height: 100%;
    object-fit:cover;

}
:host ::ng-deep .p-galleria-item-nav {
    top:40%;
    z-index: 1;

}

:host ::ng-deep .p-link:focus {

     box-shadow: 0 0 0 0; 

}
:host ::ng-deep .first-container{
  height: fit-content;

  
}
:host ::ng-deep .p-galleria-item-container{
  height: 80vh;

}
.overlay {
  z-index: 9;
  margin: 0px;
  position:absolute;
  right: 917px;
  top: 62%;
}
:host ::ng-deep .p-button {
  width: 152px;
  background-color: #FD702A;
  opacity: 0.5;
  height: 100%;
  border: 0;
  color: #ffffff;
  position: relative;
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
}
:host ::ng-deep .p-button:focus {
  box-shadow: 0 0 0 0;
  background-color: #FD702A;

}:host ::ng-deep .p-button:hover {
  box-shadow: 0 0 0 0;
  background-color: #FD702A;

}

// :host ::ng-deep .p-galleria-item-wrapper {
//     display: flex;
//     flex-direction: column;
//     position: relative;
//     height: 60%;
// }
// .p-galleria-indicator-onitem.p-galleria-indicators-bottom .p-galleria-indicators {
//     bottom: 42%;
//     left: 0;
//     width: 100%;
//     align-items: flex-end;
// }