
  :host ::ng-deep .second-container{
    width:100%;
    object-fit:cover;
  }
  :host ::ng-deep .banner-image{
    width:100%;
    height: 100%;
    background-color: rgb(51, 255, 0);

  }
  :host ::ng-deep .p-galleria-item {
    align-items: normal ;
    height: 58%;
    object-fit:cover;

    background-color: rgb(31, 65, 23);

}
:host ::ng-deep .p-galleria-item-nav {
    top:25%;
}

:host ::ng-deep .p-link:focus {

     box-shadow: 0 0 0 0; 
}
// :host ::ng-deep .p-galleria-item-wrapper {
//     display: flex;
//     flex-direction: column;
//     position: relative;
//     height: 60%;
// }
// .p-galleria-indicator-onitem.p-galleria-indicators-bottom .p-galleria-indicators {
//     bottom: 42%;
//     left: 0;
//     width: 100%;
//     align-items: flex-end;
// }