<section class="container-heading card py-5  ">
    <!-- <div class="flex flex-column flex-wrap card-container blue-container"> -->
        <p class="text-6xl font-semibold heading-text text-center mb-5">About Us</p>
        <!-- <section class="about-us-data flex flex-column "> -->
            <div class="our-story flex flex-row justify-content-between flex-wrap">
                <div class="text-data flex flex-column flex-wrap">
                    <p class="flex align-self-center text-3xl font-medium heading-text mb-5">OUR STORY</p>
                    <p class="text-lg flex story " >In the heart of a bustling city, nestled between towering skyscrapers, 
                        lies a hidden gem called "NAME" This enchanting 
                        restaurant transports diners to the streets of Italy with 
                        its rustic decor and mouthwatering cuisine. From the first 
                        bite of homemade pasta to the last sip of velvety tiramisu, 
                        every dish tells a story of passion and tradition.</p>
                </div>
                <div class="hero-header">
                <img src="../../assets/images/about-us-images/hero.png" width="380px" height="380px" alt="" class="">
            </div>
        </div>
            <!-- <div class="data-images">
                <p class="text-5xl heading-text mb-5">where we are now</p>
                <div class="restaurant-data-branches">
                    <img  class=" image-grid img " src="../../assets/images/about-us-images/opened-year-removebg-preview.png" alt="opened year of our restaurant">
                    <img  class=" image-grid img " src="./../assets/images/about-us-images/images.jpeg" alt="number of branches">
                    <img  class=" image-grid img " src="../../assets/images/about-us-images/branches-number-removebg-preview (1).png" alt="our certificate">
        
                </div>
            </div> -->
   
        <!-- </section> -->
        
    <!-- </div> -->
</section>

