@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "/src/assets/styles/variables.scss";
@import "assets/layout/styles/layout/layout.scss";
@import "/src/app/admin/adminStyle";

$gutter: 1rem; //for primeflex grid system

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* dark  [
  23231A,
  322F20,
  6A5837,
  988F2A,
  FE5FOO
]
*/
html,
body {
  height: 100%;

  // components
  --header: #f1e1e1;
  --header-footer-color: #fd702a;
  --header-footer-text-color: #fff;

  // card
  --category-item-card: #ffd924;
  --menu-item-card: #ffd924;
  --offer-item-card: #ffd924;
  --sub-item-card: #ffd924;
  --button-orange-color: #fd702a;

  // text
  --title-text-color: #2d1201;
  --disabled-text-color: #2d120178;
  --link-text-color: rgb(81, 81, 199);

  // social icons
  --facebook-color: #0866ff;
  --twitter-color: #26a7de;
  --instagram-color: #d62976;
  --whatsapp-color: #31a73d;

  // buttons
  --card-button-background: #fd702a;
  --card-button-color: #fff;


  // overlay
  --overlay: #92e69b;
  &.dark {
    --header-footer-color: #23231a;
    --header-footer-text-color: #fff;
    --disabled-text-color: #fff;
    --link-text-color: #fff;
    --title-text-color: #fff;
    --facebook-color: #fff;
    --twitter-color: #fff;
    --instagram-color: #fff;
    --header: #4d424d;
    --category-item-card: #b17179;
    --menu-item-card: #b17179;
    --offer-item-card: #b17179;
    --sub-item-card: #b17179;
  }
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// ______________________________________________________________________________________
// ******************************** Shared classes **************************************
// ______________________________________________________________________________________

.page-title {
  margin: 0;
  text-align: center;
  color: $Button-orange-color;
  font-size: 48px;
  font-weight: 500;
}

.primary-button {
  background-color: $Button-orange-color;
  color: #fff;
  border: none;
  font-size: 22px;
  font-weight: 600;
  padding: 11px 0;
  border-radius: 5px;
  cursor: pointer;

  &:disabled {
    background-color: $Background-orange-color;
    color: $disabled-text-color;
    cursor: not-allowed;
  }
}

.form {
  label {
    color: $title-text-color;
  }

  .p-inputtext,
  .mask-button {
    width: 100%;
    &:focus,
    &:hover {
      border-color: $Button-orange-color;
      color: $Button-orange-color;
      box-shadow: none;

      + label {
        font-weight: 500;
        color: $Button-orange-color;
      }
    }
  }
}

.phone {
  color: $title-text-color;
}
