
$base-orange: orange;
$Button-orange-color: #fd702a;
$Background-orange-color: #f1e1e1;
$black-color:#000;
$white-color:#fff;
$light-yellow-color: #ffd924;
$Violet-Button-color: #8056db;
$light-red-color: #f2303e;
$footer-color: #1c0b01;
$title-text-color: #2d1201;
$facebook-color: #0866ff;
$twitter-color: #26a7de;
$instagram-color: #d62976;
$whatsapp-color: #31a73d;
