<a href="#">
  <p-card>
    <h3>{{ data.title }}</h3>

    <ng-template pTemplate="header">
      <div class="rotating">
        <p>NEW</p>
      </div>
      <img [src]="data.image" alt="{{ data.name }}" />
    </ng-template>
    <p class="count">{{ data.description }}</p>

    <p class="count">{{ data.name }}</p>

    <p class="count">{{ data.price | subscription | currency }}</p>

    <ng-template pTemplate="footer">
      <a href="#">
        <i
          class="pi pi-shopping-cart"
          style="color: #fd702a; font-size: 4rem"
        ></i
      ></a>
    </ng-template>
    <ng-template pTemplate="">
      <div class="rating-container">
        <span *ngFor="let rate of generateRatingStars()" [class]="rate"
          >&#9733;</span
        >
      </div>
    </ng-template>
  </p-card>
</a>
