<!-- <a href="#"> -->
<p-card>
  <p-toast></p-toast>
  <h3>{{ data.title }}</h3>

  <ng-template pTemplate="header">
    <div class="rotating" [ngClass]="data.active == 0 ? 'inactive' : ''">
      <p *ngIf="data.active == 1; else inactive">Active</p>
      <ng-template #inactive>Inactive</ng-template>
    </div>
    <img src='http://localhost:8000/images/item/{{data.img}}' alt="{{ data.name }}" />
  </ng-template>
  <p class="count">{{ data.name }}</p>

  <p class="count">{{ data.description }}</p>

  <p class="count">{{ data.price | currency }}</p>
  <p class="count">
    <span *ngIf="data.discount > 0; else noDiscount">{{ data.discount }}%</span>
    <ng-template #noDiscount>No discount value</ng-template>
  </p>

  <ng-template pTemplate="footer">
    <button
      class="cart-button"
      (click)="showPositionDialog('left', data)"
      [disabled]="data.active == 0"
    >
      <i
        class="pi pi-shopping-cart"
        style="color: #fd702a; font-size: 4rem; cursor: pointer"
      ></i>
    </button>
    <p-dialog
      [transitionOptions]="'3000ms'"
      header="Extra"
      [(visible)]="displayPosition"
      [modal]="true"
      [style]="{ width: '50vw' }"
      [baseZIndex]="10000"
      [draggable]="false"
      [resizable]="false"
    >
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText [(ngModel)]="value" />
      </span>
      <ng-container *ngFor="let addition of data.itemAdditions; index as i">
        <div class="cardData">
          <div class="data">
            <img src="../../../../../assets/food-5.jpg" alt="" />
            <div class="info-data">
              <p class="title">{{ addition.name }}</p>
              <p class="desc">{{ addition.description }}</p>
            </div>
          </div>
          <div class="actions">
            <button
              (click)="addAddition(addition.id, i)"
              pButton
              pRipple
              class="add-button p-button-success p-2 rounded min-w-0"
            >
              <i class="pi pi-fw pi-plus"></i>
            </button>
            <button
              (click)="removeAddition(addition.id, i)"
              pButton
              pRipple
              class="remove-button hidden p-button-danger p-2 rounded min-w-0"
            >
              <i class="pi pi-fw pi-times"></i>
            </button>
            <p class="price">{{ addition.price | currency }}</p>
          </div>
        </div>
      </ng-container>
      <ng-template pTemplate="footer">
        <p-button
          icon="pi pi-check"
          (click)="submitAdditions(data.id)"
          label="Add to cart"
          class="p-button-text"
        ></p-button>
      </ng-template>
    </p-dialog>
  </ng-template>
  <ng-template pTemplate="">
    <i
      (click)="addFav(data)"
      [ngClass]="isFavourite ? 'pi pi-heart-fill' : 'pi pi-heart'"
      style="font-size: 2rem; color: orange; cursor: pointer"
    ></i>
  </ng-template>
</p-card>
<!-- </a> -->
