<div class="edit-employee-container">
  <p-toast></p-toast>

  <h3 class="admin-page-title">Edit Employee</h3>

  <div class="card">
    <div class="loader" *ngIf="loader">
      <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="4" animationDuration="1s"></p-progressSpinner>
    </div>
    
    <form
      [formGroup]="editEmployeeForm"
      (ngSubmit)="onSubmit()"
      class="formgrid grid w-full mt-3 mx-auto form"
    >
      <div class="col-12 md:col-6 mb-4 pr-0 md:pr-3">
        <div class="flex flex-column-reverse">
          <input
            id="first-name"
            type="text"
            pInputText
            [required]="true"
            [minlength]="4"
            formControlName="first_name"
            class="input p-2 border-round outline-none w-full"
          />
          <label for="first-name" class="block mb-2">First name *</label>
        </div>

        <div
          class="error-message"
          *ngIf="
            editEmployeeForm.controls['first_name'].touched &&
            editEmployeeForm.controls['first_name'].invalid
          "
        >
          <small
            class="block"
            *ngIf="editEmployeeForm.controls['first_name'].errors?.['required']"
          >
            First name is required
          </small>
          <small
            class="block"
            *ngIf="editEmployeeForm.controls['first_name'].errors?.['minlength']"
          >
            First name is must be more than 3 characters
          </small>
          <small
            class="block"
            *ngIf="editEmployeeForm.controls['first_name'].errors?.['pattern']"
          >
            First name must contains only letters
          </small>
        </div>
      </div>

      <div class="col-12 md:col-6 mb-4">
        <div class="flex flex-column-reverse">
          <input
            id="last-name"
            type="text"
            [required]="true"
            [minlength]="4"
            pInputText
            formControlName="last_name"
            class="input p-2 border-round outline-none w-full"
          />
          <label for="last-name" class="block mb-2">Last name *</label>
        </div>

        <div
          class="error-message"
          *ngIf="
            editEmployeeForm.controls['last_name'].touched &&
            editEmployeeForm.controls['last_name'].invalid
          "
        >
          <small
            class="block"
            *ngIf="editEmployeeForm.controls['last_name'].errors?.['required']"
          >
            Last name is required
          </small>
          <small
            class="block"
            *ngIf="editEmployeeForm.controls['last_name'].errors?.['minlength']"
          >
            Last name is must be more than 3 characters
          </small>
          <small
            class="block"
            *ngIf="editEmployeeForm.controls['last_name'].errors?.['pattern']"
          >
            Last name is must contains only letters
          </small>
        </div>
      </div>

      <div class="col-12 md:col-6 mb-4">
        <div class="flex flex-column-reverse">
          <p-inputMask
            id="phone"
            [autoClear]="false"
            [required]="true"
            formControlName="phone"
            mask="+20-1999999999"
            placeholder="+20-1999999999"
            styleClass="input p-2 border-round outline-none w-full"
            class="mask-button"
          ></p-inputMask>
          <label htmlFor="phone" class="block mb-2">Phone *</label>
        </div>

        <div
          class="error-message"
          *ngIf="
            editEmployeeForm.controls['phone'].touched &&
            editEmployeeForm.controls['phone'].invalid
          "
        >
          <small
            class="block"
            *ngIf="editEmployeeForm.controls['phone'].errors?.['required']"
          >
            Phone is required
          </small>
          <small
            class="block"
            *ngIf="editEmployeeForm.controls['phone'].errors?.['pattern']"
          >
            It must be a valid phone number
          </small>
        </div>
      </div>

      <div class="col-12 md:col-6 mb-4">
        <div class="flex flex-column-reverse">
          <input
            id="email"
            type="email"
            [required]="true"
            pInputText
            formControlName="email"
            class="input p-2 border-round outline-none w-full"
          />
          <label for="email" class="block mb-2">Email *</label>
        </div>

        <div
          class="error-message"
          *ngIf="
            editEmployeeForm.controls['email'].touched &&
            editEmployeeForm.controls['email'].invalid
          "
        >
          <small
            class="block"
            *ngIf="editEmployeeForm.controls['email'].errors?.['required']"
          >
            Email is required
          </small>
          <small
            class="block"
            *ngIf="editEmployeeForm.controls['email'].errors?.['pattern']"
          >
            It must be a valid email
          </small>
        </div>
      </div>

      <div class="col-12 md:col-6 mb-4">
        <div class="flex flex-column-reverse">
          <input
            id="job-title"
            type="text"
            [required]="true"
            [minlength]="4"
            pInputText
            formControlName="job_title"
            class="input p-2 border-round outline-none w-full"
          />
          <label for="job-title" class="block mb-2">Job title *</label>
        </div>

        <div
          class="error-message"
          *ngIf="
            editEmployeeForm.controls['job_title'].touched &&
            editEmployeeForm.controls['job_title'].invalid
          "
        >
          <small
            class="block"
            *ngIf="editEmployeeForm.controls['job_title'].errors?.['required']"
          >
            Job title is required
          </small>
          <small
            class="block"
            *ngIf="editEmployeeForm.controls['job_title'].errors?.['minlength']"
          >
            Job title is must be more than 3 characters
          </small>
          <small
            class="block"
            *ngIf="editEmployeeForm.controls['job_title'].errors?.['pattern']"
          >
            Job title is must contains only letters
          </small>
        </div>
      </div>

      <div class="col-12 md:col-6 mb-4">
        <div class="flex flex-column-reverse">
          <p-inputNumber
            [useGrouping]="false"
            formControlName="salary"
            [format]="false"
            styleClass="w-full"
            class="mask-button form-field"
            [required]="true"
            [min]="1"
          >
          </p-inputNumber>
          <label for="salary" class="block mb-2">Salary *</label>
        </div>
  
        <div
          class="error-message"
          *ngIf="
            editEmployeeForm.controls['salary'].touched &&
            editEmployeeForm.controls['salary'].invalid
          "
        >
          <small
            class="block"
            *ngIf="editEmployeeForm.controls['salary'].errors?.['required']"
          >
            Salary is required
          </small>
        </div>
      </div>

      <div class="col-12 md:col-6 mb-4">
        <div class="flex flex-column-reverse">
          <p-inputMask
            id="joined_at"
            [autoClear]="false"
            [required]="true"
            formControlName="joined_at"
            mask="9999-99-99"
            styleClass="input p-2 border-round outline-none w-full"
            class="mask-button"
          ></p-inputMask>
          <label htmlFor="joined_at" class="block mb-2">Joined at *</label>
        </div>

        <div
          class="error-message"
          *ngIf="
            editEmployeeForm.controls['joined_at'].touched &&
            editEmployeeForm.controls['joined_at'].invalid
          "
        >
          <small
            class="block"
            *ngIf="editEmployeeForm.controls['joined_at'].errors?.['required']"
          >
            Joined at is required
          </small>
          <small
            class="block"
            *ngIf="editEmployeeForm.controls['joined_at'].errors?.['pattern']"
          >
            enter a valid date
          </small>
        </div>
      </div>

      <div class="col-12 md:col-6 mb-4">
        <div class="flex flex-column-reverse">
          <p-dropdown
            name="branch"
            styleClass="w-full"
            [options]="branches"
            formControlName="branch_id"
            optionLabel="name"
            optionValue="id"
            class="form-field"
          ></p-dropdown>
          <label for="branch" class="block mb-2">Branch *</label>
        </div>
      </div>

      <div class="col-12 md:col-6 mb-4">
        <div class="flex flex-column-reverse">
          <p-inputMask
            id="national_id"
            [autoClear]="false"
            [required]="true"
            formControlName="national_id"
            mask="99999999999999"
            styleClass="input p-2 border-round outline-none w-full"
            class="mask-button"
          ></p-inputMask>
          <label htmlFor="national_id" class="block mb-2">National id *</label>
        </div>

        <div
          class="error-message"
          *ngIf="
            editEmployeeForm.controls['national_id'].touched &&
            editEmployeeForm.controls['national_id'].invalid
          "
        >
          <small
            class="block"
            *ngIf="editEmployeeForm.controls['national_id'].errors?.['required']"
          >
            National ID is required
          </small>
          <small
            class="block"
            *ngIf="editEmployeeForm.controls['national_id'].errors?.['pattern']"
          >
            National ID must be a 14 numbers
          </small>
        </div>
      </div>

      <div class="col-12 md:col-6 mb-4">
        <div class="flex flex-column-reverse">
          <input
            id="street"
            type="text"
            [required]="true"
            [minlength]="4"
            pInputText
            formControlName="street"
            class="input p-2 border-round outline-none w-full"
          />
          <label for="street" class="block mb-2">Street *</label>
        </div>

        <div
          class="error-message"
          *ngIf="
            editEmployeeForm.controls['street'].touched &&
            editEmployeeForm.controls['street'].invalid
          "
        >
          <small
            class="block"
            *ngIf="editEmployeeForm.controls['street'].errors?.['required']"
          >
            Street is required
          </small>
          <small
            class="block"
            *ngIf="editEmployeeForm.controls['street'].errors?.['minlength']"
          >
            Street must be more than 3 characters
          </small>
        </div>
      </div>

      <div class="col-12 md:col-6 mb-4">
        <div class="flex flex-column-reverse">
          <input
            id="area"
            type="text"
            [required]="true"
            [minlength]="4"
            pInputText
            formControlName="area"
            class="input p-2 border-round outline-none w-full"
          />
          <label for="area" class="block mb-2">Area *</label>
        </div>

        <div
          class="error-message"
          *ngIf="
            editEmployeeForm.controls['area'].touched &&
            editEmployeeForm.controls['area'].invalid
          "
        >
          <small
            class="block"
            *ngIf="editEmployeeForm.controls['area'].errors?.['required']"
          >
            Area is required
          </small>
          <small
            class="block"
            *ngIf="editEmployeeForm.controls['area'].errors?.['minlength']"
          >
            Area must be more than 3 characters
          </small>
        </div>
      </div>

      <div class="col-12 md:col-6 mb-4">
        <div class="flex flex-column-reverse">
          <input
            id="city"
            type="text"
            [required]="true"
            [minlength]="4"
            pInputText
            formControlName="city"
            class="input p-2 border-round outline-none w-full"
          />
          <label for="city" class="block mb-2">City *</label>
        </div>

        <div
          class="error-message"
          *ngIf="
            editEmployeeForm.controls['city'].touched &&
            editEmployeeForm.controls['city'].invalid
          "
        >
          <small
            class="block"
            *ngIf="editEmployeeForm.controls['city'].errors?.['required']"
          >
            City is required
          </small>
          <small
            class="block"
            *ngIf="editEmployeeForm.controls['city'].errors?.['minlength']"
          >
            City must be more than 3 characters
          </small>
        </div>
      </div>

      <button
        type="submit"
        class="primary-button w-5 mx-auto my-3"
        [disabled]="editEmployeeForm.invalid"
      >
        Edit
      </button>
    </form>
  </div>
</div>
