:host ::ng-deep .add-menu-item-container {
    .mask-button {
        span {
            width: 100%;
        }
    }
    
}

:host ::ng-deep .p-highlight.p-togglebutton, 
:host ::ng-deep .p-highlight.p-togglebutton:hover { 
    background: green; 
    border: none; 
    color: white; 
} 
:host ::ng-deep .p-togglebutton, 
:host ::ng-deep .p-togglebutton:hover { 
    background: rgb(146, 19, 10); 
    border: none; 
    color: white; 
} 
  
:host ::ng-deep .p-togglebutton:focus { 
    box-shadow: 0 0 0 0; 
}

:host ::ng-deep .p-togglebutton.p-button:not(.p-disabled):not(.p-highlight):hover{
    background: rgb(146, 19, 10); 
    border: none; 
    color: white; 
}
